<template>

  <section class="overflow-visible">
    
    <div class="mx-auto py-4 lg:py-12 px-4 max-w-screen-xl sm:px-6 lg:px-8 lg:pt-0 pb-8 sm:pb-16 lg:pb-0">
      <div class="space-y-5 sm:space-y-4 md:max-w-xl lg:max-w-3xl xl:max-w-none">
        <p class="text-base leading-6 text-indigo-600 font-semibold tracking-wide uppercase">
          Wie ben ik
        </p>
        <h1 class="mt-2 mb-8 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
          Bart Monbaliu
        </h1>
        <p class="text-xl text-gray-500 leading-8">
          een developer met een brede waaier aan interesses, ervaring en vaardigheden.
        </p>
      </div>
    </div>

    <div class="relative max-w-screen-xl mx-auto pt-8 pb-12 px-4 sm:px-6 lg:px-8 lg:py-12">

      <svg 
        class="absolute top-full left-0 transform translate-x-80 -translate-y-24 lg:hidden" 
        width="784" height="404" 
        fill="none" 
        viewBox="0 0 784 404"
      >
        <defs>
          <pattern id="e56e3f81-d9c1-4b83-a3ba-0d0ac8c32f32" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="784" height="404" fill="url(#e56e3f81-d9c1-4b83-a3ba-0d0ac8c32f32)" />
      </svg>

      <svg 
        class="hidden lg:block absolute right-full top-1/2 transform translate-x-1/2 -translate-y-1/4" 
        width="404" 
        height="784" 
        fill="none" 
        viewBox="0 0 404 784"
      >
        <defs>
          <pattern id="56409614-3d62-4985-9a10-7ca758a8f4f0" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="784" fill="url(#56409614-3d62-4985-9a10-7ca758a8f4f0)" />
      </svg>
     
      <div class="relative lg:flex lg:items-center">

        <div class="block pb-12 lg:flex-shrink-0">
          <svg 
            class="h-64 w-64 rounded-full lg:h-80 lg:w-80 xl:h-96 xl:w-96"
            viewBox="0 0 1082.43901 449.88124"
          >
            <polygon points="77.591 390.495 52.772 388.84 61.045 426.069 89.173 414.487 77.591 390.495" fill="#ffb9b9"/><polygon points="305.1 321.001 247.189 264.744 214.096 290.391 148.739 368.985 156.185 380.567 235.606 326.792 289.381 397.113 340.674 371.467 305.1 321.001" fill="#2f2e41"/><polygon points="305.1 321.001 247.189 264.744 214.096 290.391 148.739 368.985 156.185 380.567 235.606 326.792 289.381 397.113 340.674 371.467 305.1 321.001" opacity="0.1"/><path d="M368.84451,583.28933l-7.44576,5.79115-60.39337-20.68267-14.06421-5.79114-28.12842,5.79114s0-23.16458,26.47381-22.33727l27.30111,6.61845,32.265,2.48192Z" transform="translate(-58.78049 -225.05938)" fill="#ffb9b9"/><polygon points="363.839 419.451 345.638 431.033 324.128 431.033 224.024 393.804 77.591 420.278 73.454 388.84 207.478 330.102 324.956 368.985 363.839 419.451" fill="#2f2e41"/><path d="M305.14191,497.24946l-12.4096,2.48191-2.70423-3.15494a16.71669,16.71669,0,0,1-2.25961-18.355h0l34.74687-45.50186s9.92768-22.33728,25.6465-13.23691-13.2369,23.99189-13.2369,23.99189l-17.37344,27.30112,1.65461,14.06421Z" transform="translate(-58.78049 -225.05938)" fill="#ffb9b9"/><circle cx="324.95554" cy="186.1502" r="32.26495" fill="#ffb9b9"/><path d="M369.25817,434.78781,384.14968,470.362l35.57418-14.89151s-11.58229-28.12842-11.58229-28.95573S369.25817,434.78781,369.25817,434.78781Z" transform="translate(-58.78049 -225.05938)" fill="#ffb9b9"/><path d="M467.21951,540.02944a185.3827,185.3827,0,0,1-9.09209,57.34061l-2.41572,7.42925-11.5823,52.94762-12.40959,3.30922-9.10037-11.58229L404.41869,636.237l-13.2369-21.51-11.35062-18.91222-3.5409-5.907-12.4096-62.048L316.7242,501.386l-15.71882-2.48192,3.30923-9.10037,14.06421-19.02805L332.443,469.121l4.13653-3.30922,3.30923,1.65461,13.2369-7.44576,4.13653,1.65462,24.19044,2.25025,14.693-3.07756L417.275,449.50558l8.65364,1.41471,29.783,24.8192A185.22006,185.22006,0,0,1,467.21951,540.02944Z" transform="translate(-58.78049 -225.05938)" fill="#575a89"/><path d="M119.17072,628.36472s7.40995-12.55867,4.28015-14.02487-16.42157-7.31125-16.42157-7.31125l-19.49215-6.45971s-28.126-41.801-28.74337-5.45025,20.47916,45.08869,20.47916,45.08869S98.0885,680.7,108.74669,674.243,130.07,645.86717,130.07,645.86717,110.85,635.53508,119.17072,628.36472Z" transform="translate(-58.78049 -225.05938)" fill="#2f2e41"/><polygon points="399.413 307.764 367.975 328.447 321.051 370.755 317.51 364.848 307.582 315.21 310.064 315.21 335.711 268.054 399.413 307.764" opacity="0.1"/><polygon points="335.711 263.09 310.064 310.246 300.964 310.246 295.173 326.792 281.936 330.102 317.51 368.985 367.975 323.483 399.413 302.8 335.711 263.09" fill="#575a89"/><path d="M358.64047,387.21919l-3.49581,1.345a4.88017,4.88017,0,0,1-1.24759-6.86l-6.4602-.30231a48.78211,48.78211,0,0,1,72.82519-5.86988c.29412-1.013,3.50037.95787,4.80938,2.95626.43984-1.64837,3.4461,6.31994,4.5094,11.95247.49227-1.8754,2.385,1.15218.72681,4.05727,1.05066-.15351,1.52525,2.53462.71189,4.0322,1.1494-.54.95568,2.66884-.29057,4.81326,1.64017-.14573-12.93544,22.47575-18.83687,35.696-1.71358-7.87343-3.64027-16.1643-9.16573-22.02916-.93919-.99689-1.96768-1.90488-2.9945-2.81126l-5.55369-4.90228c-6.4579-5.70042-12.33246-12.7359-20.93549-14.8664-5.91224-1.46413-9.65052-1.7947-6.42852-8.45681-2.911,1.21478-5.6294,3.02129-8.5665,4.14957C358.28712,389.19225,358.69761,388.15058,358.64047,387.21919Z" transform="translate(-58.78049 -225.05938)" fill="#2f2e41"/><circle cx="341.08801" cy="189.87308" r="5.79115" fill="#ffb9b9"/><rect x="178.43901" y="59.71015" width="28" height="28" fill="#5850ec"/><path d="M282.21951,296.76953h-34v-34h34Zm-32.52174-1.47826h31.04348V264.24779H249.69777Z" transform="translate(-58.78049 -225.05938)" fill="#3f3d56"/><rect x="108.80838" y="374.61657" width="28" height="28" transform="translate(403.98758 -61.23638) rotate(74.06317)" fill="#5850ec"/><path d="M133.24341,417.87594l-9.33563-32.69321,32.69321-9.33564,9.33563,32.69321Zm-7.50829-31.67767,8.52384,29.85032,29.85032-8.52383-8.52384-29.85033Z" transform="translate(-58.78049 -225.05938)" fill="#3f3d56"/><rect x="118.48664" y="239.04858" width="28" height="28" transform="translate(349.04671 103.9752) rotate(133.06281)" fill="#5850ec"/><path d="M112.78106,277.063l23.21519-24.8406,24.84059,23.21519-23.21518,24.84059Zm23.28586-22.75121-21.19647,22.68054L137.551,298.18876l21.19647-22.68054Z" transform="translate(-58.78049 -225.05938)" fill="#3f3d56"/><path d="M1085.0123,230.4217H824.8427v-5.36232h-117.971v5.36232H445.62961a17.5985,17.5985,0,0,0-17.59851,17.59851V604.2724A17.59855,17.59855,0,0,0,445.62961,621.871H1085.0123a17.59855,17.59855,0,0,0,17.59851-17.59857V248.02021A17.5985,17.5985,0,0,0,1085.0123,230.4217Z" transform="translate(-58.78049 -225.05938)" fill="#3f3d56"/><rect x="392.84481" y="36.46377" width="627.3913" height="353.91304" fill="#5850ec"/><circle cx="706.00423" cy="20.37681" r="6.43478" fill="#5850ec"/><polygon points="840.813 390.377 392.845 390.377 392.845 36.464 840.813 390.377" opacity="0.1"/><circle cx="491.01276" cy="303.58656" r="60.3068" fill="#f2f2f2"/><path d="M563.21822,573.97237A75.01578,75.01578,0,1,1,638.234,498.9566,75.10088,75.10088,0,0,1,563.21822,573.97237Zm0-149.05095A74.03518,74.03518,0,1,0,637.2534,498.9566,74.119,74.119,0,0,0,563.21822,424.92142Z" transform="translate(-58.78049 -225.05938)" fill="#3f3d56"/><rect x="852.39173" y="227.33189" width="58.6052" height="12.24586" fill="#3f3d56"/><rect x="781.54067" y="131.9891" width="200.30733" height="5.24823" fill="#3f3d56"/><rect x="781.54067" y="148.60849" width="200.30733" height="5.24823" fill="#3f3d56"/><rect x="781.54067" y="165.22788" width="200.30733" height="5.24823" fill="#3f3d56"/><rect x="781.54067" y="181.84726" width="200.30733" height="5.24823" fill="#3f3d56"/><rect x="781.54067" y="198.46665" width="200.30733" height="5.24823" fill="#3f3d56"/><rect x="957.35627" y="43.64395" width="24.49173" height="24.49173" fill="#f2f2f2"/><path d="M1051.99965,304.56621h-29.74v-29.74h29.74Zm-28.44691-1.293h27.15387V276.1193h-27.15387Z" transform="translate(-58.78049 -225.05938)" fill="#3f3d56"/><path d="M1120.2266,609.00139h-61.22932v-4.41153a.87467.87467,0,0,0-.8747-.87471h-20.99291a.87468.87468,0,0,0-.8747.87471v4.41153H1023.1344v-4.41153a.87468.87468,0,0,0-.8747-.87471h-20.99291a.87468.87468,0,0,0-.87471.87471v4.41153H987.27152v-4.41153a.87468.87468,0,0,0-.87471-.87471H965.4039a.87468.87468,0,0,0-.8747.87471v4.41153H951.40863v-4.41153a.87468.87468,0,0,0-.8747-.87471H929.541a.87467.87467,0,0,0-.8747.87471v4.41153H915.54575v-4.41153a.87468.87468,0,0,0-.87471-.87471h-20.9929a.87468.87468,0,0,0-.87471.87471v4.41153H879.68286v-4.41153a.87468.87468,0,0,0-.8747-.87471H857.81525a.87468.87468,0,0,0-.8747.87471v4.41153H843.82v-4.41153a.87468.87468,0,0,0-.8747-.87471H678.50083a.87468.87468,0,0,0-.8747.87471v4.41153H664.50556v-4.41153a.87468.87468,0,0,0-.87471-.87471H642.638a.87468.87468,0,0,0-.87471.87471v4.41153H628.64267v-4.41153a.87467.87467,0,0,0-.8747-.87471H606.77506a.87468.87468,0,0,0-.8747.87471v4.41153H592.77979v-4.41153a.87468.87468,0,0,0-.8747-.87471H570.91218a.87468.87468,0,0,0-.87471.87471v4.41153H556.91691v-4.41153a.87468.87468,0,0,0-.87471-.87471H535.04929a.87468.87468,0,0,0-.8747.87471v4.41153H521.054v-4.41153a.87468.87468,0,0,0-.8747-.87471H499.18641a.87467.87467,0,0,0-.8747.87471v4.41153H485.19114v-4.41153a.87468.87468,0,0,0-.87471-.87471h-20.9929a.87468.87468,0,0,0-.87471.87471v4.41153H422.21241a20.99292,20.99292,0,0,0-20.9929,20.99291v9.4925a20.99291,20.99291,0,0,0,20.9929,20.99285H1120.2266a20.99292,20.99292,0,0,0,20.99291-20.99285v-9.4925A20.99293,20.99293,0,0,0,1120.2266,609.00139Z" transform="translate(-58.78049 -225.05938)" fill="#3f3d56"/>
          </svg>
        </div>

        <div class="relative lg:ml-10">
          
          <svg 
            class="absolute top-0 left-0 transform -translate-x-8 -translate-y-24 h-36 w-36 opacity-75 text-indigo-100" 
            fill="currentColor" 
            viewBox="0 0 32 32"
          >
            <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
          </svg>
          
          <blockquote class="relative">
            <div class="text-2xl leading-9 font-semibold text-gray-900">
              <div class="text-xl text-gray-900">
                met passie voor 
              </div>
              <div class="text-indigo-600">
                web development
              </div>
            </div>
            <div class="mt-8">
              <div class="text-xs sm:text-base ml-4 lg:ml-0 my-auto leading-loose">
                op zoek naar nieuwe technieken (scripting, layout, database)
                <br>
                met scrum/agile-methodologie, version control, build tools
                <br>
                en oog voor testing, optimalisatie, herbruikbaarheid
              </div>
            </div>
            <footer class="mt-8">
              <div class="flex">
                <!-- <div class="flex-shrink-0 lg:hidden">
                  <svg 
                    class="h-28 w-28 rounded-full"
                    viewBox="0 0 1082.43901 449.88124"
                  >
                    <polygon points="77.591 390.495 52.772 388.84 61.045 426.069 89.173 414.487 77.591 390.495" fill="#ffb9b9"/><polygon points="305.1 321.001 247.189 264.744 214.096 290.391 148.739 368.985 156.185 380.567 235.606 326.792 289.381 397.113 340.674 371.467 305.1 321.001" fill="#2f2e41"/><polygon points="305.1 321.001 247.189 264.744 214.096 290.391 148.739 368.985 156.185 380.567 235.606 326.792 289.381 397.113 340.674 371.467 305.1 321.001" opacity="0.1"/><path d="M368.84451,583.28933l-7.44576,5.79115-60.39337-20.68267-14.06421-5.79114-28.12842,5.79114s0-23.16458,26.47381-22.33727l27.30111,6.61845,32.265,2.48192Z" transform="translate(-58.78049 -225.05938)" fill="#ffb9b9"/><polygon points="363.839 419.451 345.638 431.033 324.128 431.033 224.024 393.804 77.591 420.278 73.454 388.84 207.478 330.102 324.956 368.985 363.839 419.451" fill="#2f2e41"/><path d="M305.14191,497.24946l-12.4096,2.48191-2.70423-3.15494a16.71669,16.71669,0,0,1-2.25961-18.355h0l34.74687-45.50186s9.92768-22.33728,25.6465-13.23691-13.2369,23.99189-13.2369,23.99189l-17.37344,27.30112,1.65461,14.06421Z" transform="translate(-58.78049 -225.05938)" fill="#ffb9b9"/><circle cx="324.95554" cy="186.1502" r="32.26495" fill="#ffb9b9"/><path d="M369.25817,434.78781,384.14968,470.362l35.57418-14.89151s-11.58229-28.12842-11.58229-28.95573S369.25817,434.78781,369.25817,434.78781Z" transform="translate(-58.78049 -225.05938)" fill="#ffb9b9"/><path d="M467.21951,540.02944a185.3827,185.3827,0,0,1-9.09209,57.34061l-2.41572,7.42925-11.5823,52.94762-12.40959,3.30922-9.10037-11.58229L404.41869,636.237l-13.2369-21.51-11.35062-18.91222-3.5409-5.907-12.4096-62.048L316.7242,501.386l-15.71882-2.48192,3.30923-9.10037,14.06421-19.02805L332.443,469.121l4.13653-3.30922,3.30923,1.65461,13.2369-7.44576,4.13653,1.65462,24.19044,2.25025,14.693-3.07756L417.275,449.50558l8.65364,1.41471,29.783,24.8192A185.22006,185.22006,0,0,1,467.21951,540.02944Z" transform="translate(-58.78049 -225.05938)" fill="#575a89"/><path d="M119.17072,628.36472s7.40995-12.55867,4.28015-14.02487-16.42157-7.31125-16.42157-7.31125l-19.49215-6.45971s-28.126-41.801-28.74337-5.45025,20.47916,45.08869,20.47916,45.08869S98.0885,680.7,108.74669,674.243,130.07,645.86717,130.07,645.86717,110.85,635.53508,119.17072,628.36472Z" transform="translate(-58.78049 -225.05938)" fill="#2f2e41"/><polygon points="399.413 307.764 367.975 328.447 321.051 370.755 317.51 364.848 307.582 315.21 310.064 315.21 335.711 268.054 399.413 307.764" opacity="0.1"/><polygon points="335.711 263.09 310.064 310.246 300.964 310.246 295.173 326.792 281.936 330.102 317.51 368.985 367.975 323.483 399.413 302.8 335.711 263.09" fill="#575a89"/><path d="M358.64047,387.21919l-3.49581,1.345a4.88017,4.88017,0,0,1-1.24759-6.86l-6.4602-.30231a48.78211,48.78211,0,0,1,72.82519-5.86988c.29412-1.013,3.50037.95787,4.80938,2.95626.43984-1.64837,3.4461,6.31994,4.5094,11.95247.49227-1.8754,2.385,1.15218.72681,4.05727,1.05066-.15351,1.52525,2.53462.71189,4.0322,1.1494-.54.95568,2.66884-.29057,4.81326,1.64017-.14573-12.93544,22.47575-18.83687,35.696-1.71358-7.87343-3.64027-16.1643-9.16573-22.02916-.93919-.99689-1.96768-1.90488-2.9945-2.81126l-5.55369-4.90228c-6.4579-5.70042-12.33246-12.7359-20.93549-14.8664-5.91224-1.46413-9.65052-1.7947-6.42852-8.45681-2.911,1.21478-5.6294,3.02129-8.5665,4.14957C358.28712,389.19225,358.69761,388.15058,358.64047,387.21919Z" transform="translate(-58.78049 -225.05938)" fill="#2f2e41"/><circle cx="341.08801" cy="189.87308" r="5.79115" fill="#ffb9b9"/><rect x="178.43901" y="59.71015" width="28" height="28" fill="#5850ec"/><path d="M282.21951,296.76953h-34v-34h34Zm-32.52174-1.47826h31.04348V264.24779H249.69777Z" transform="translate(-58.78049 -225.05938)" fill="#3f3d56"/><rect x="108.80838" y="374.61657" width="28" height="28" transform="translate(403.98758 -61.23638) rotate(74.06317)" fill="#5850ec"/><path d="M133.24341,417.87594l-9.33563-32.69321,32.69321-9.33564,9.33563,32.69321Zm-7.50829-31.67767,8.52384,29.85032,29.85032-8.52383-8.52384-29.85033Z" transform="translate(-58.78049 -225.05938)" fill="#3f3d56"/><rect x="118.48664" y="239.04858" width="28" height="28" transform="translate(349.04671 103.9752) rotate(133.06281)" fill="#5850ec"/><path d="M112.78106,277.063l23.21519-24.8406,24.84059,23.21519-23.21518,24.84059Zm23.28586-22.75121-21.19647,22.68054L137.551,298.18876l21.19647-22.68054Z" transform="translate(-58.78049 -225.05938)" fill="#3f3d56"/><path d="M1085.0123,230.4217H824.8427v-5.36232h-117.971v5.36232H445.62961a17.5985,17.5985,0,0,0-17.59851,17.59851V604.2724A17.59855,17.59855,0,0,0,445.62961,621.871H1085.0123a17.59855,17.59855,0,0,0,17.59851-17.59857V248.02021A17.5985,17.5985,0,0,0,1085.0123,230.4217Z" transform="translate(-58.78049 -225.05938)" fill="#3f3d56"/><rect x="392.84481" y="36.46377" width="627.3913" height="353.91304" fill="#5850ec"/><circle cx="706.00423" cy="20.37681" r="6.43478" fill="#5850ec"/><polygon points="840.813 390.377 392.845 390.377 392.845 36.464 840.813 390.377" opacity="0.1"/><circle cx="491.01276" cy="303.58656" r="60.3068" fill="#f2f2f2"/><path d="M563.21822,573.97237A75.01578,75.01578,0,1,1,638.234,498.9566,75.10088,75.10088,0,0,1,563.21822,573.97237Zm0-149.05095A74.03518,74.03518,0,1,0,637.2534,498.9566,74.119,74.119,0,0,0,563.21822,424.92142Z" transform="translate(-58.78049 -225.05938)" fill="#3f3d56"/><rect x="852.39173" y="227.33189" width="58.6052" height="12.24586" fill="#3f3d56"/><rect x="781.54067" y="131.9891" width="200.30733" height="5.24823" fill="#3f3d56"/><rect x="781.54067" y="148.60849" width="200.30733" height="5.24823" fill="#3f3d56"/><rect x="781.54067" y="165.22788" width="200.30733" height="5.24823" fill="#3f3d56"/><rect x="781.54067" y="181.84726" width="200.30733" height="5.24823" fill="#3f3d56"/><rect x="781.54067" y="198.46665" width="200.30733" height="5.24823" fill="#3f3d56"/><rect x="957.35627" y="43.64395" width="24.49173" height="24.49173" fill="#f2f2f2"/><path d="M1051.99965,304.56621h-29.74v-29.74h29.74Zm-28.44691-1.293h27.15387V276.1193h-27.15387Z" transform="translate(-58.78049 -225.05938)" fill="#3f3d56"/><path d="M1120.2266,609.00139h-61.22932v-4.41153a.87467.87467,0,0,0-.8747-.87471h-20.99291a.87468.87468,0,0,0-.8747.87471v4.41153H1023.1344v-4.41153a.87468.87468,0,0,0-.8747-.87471h-20.99291a.87468.87468,0,0,0-.87471.87471v4.41153H987.27152v-4.41153a.87468.87468,0,0,0-.87471-.87471H965.4039a.87468.87468,0,0,0-.8747.87471v4.41153H951.40863v-4.41153a.87468.87468,0,0,0-.8747-.87471H929.541a.87467.87467,0,0,0-.8747.87471v4.41153H915.54575v-4.41153a.87468.87468,0,0,0-.87471-.87471h-20.9929a.87468.87468,0,0,0-.87471.87471v4.41153H879.68286v-4.41153a.87468.87468,0,0,0-.8747-.87471H857.81525a.87468.87468,0,0,0-.8747.87471v4.41153H843.82v-4.41153a.87468.87468,0,0,0-.8747-.87471H678.50083a.87468.87468,0,0,0-.8747.87471v4.41153H664.50556v-4.41153a.87468.87468,0,0,0-.87471-.87471H642.638a.87468.87468,0,0,0-.87471.87471v4.41153H628.64267v-4.41153a.87467.87467,0,0,0-.8747-.87471H606.77506a.87468.87468,0,0,0-.8747.87471v4.41153H592.77979v-4.41153a.87468.87468,0,0,0-.8747-.87471H570.91218a.87468.87468,0,0,0-.87471.87471v4.41153H556.91691v-4.41153a.87468.87468,0,0,0-.87471-.87471H535.04929a.87468.87468,0,0,0-.8747.87471v4.41153H521.054v-4.41153a.87468.87468,0,0,0-.8747-.87471H499.18641a.87467.87467,0,0,0-.8747.87471v4.41153H485.19114v-4.41153a.87468.87468,0,0,0-.87471-.87471h-20.9929a.87468.87468,0,0,0-.87471.87471v4.41153H422.21241a20.99292,20.99292,0,0,0-20.9929,20.99291v9.4925a20.99291,20.99291,0,0,0,20.9929,20.99285H1120.2266a20.99292,20.99292,0,0,0,20.99291-20.99285v-9.4925A20.99293,20.99293,0,0,0,1120.2266,609.00139Z" transform="translate(-58.78049 -225.05938)" fill="#3f3d56"/>
                  </svg>
                </div> -->
                <div class="ml-4 lg:ml-0 my-auto">
                  <div class="text-xs sm:text-base leading-6 font-medium text-gray-900">
                     op zoek naar efficiëntere 
                  </div>
                  <div class="leading-6">
                    <span class="text-sm sm:text-lg font-medium text-indigo-600">
                      front
                    </span>
                    <span class="text-xs sm:text-base font-medium text-gray-900">
                      en 
                    </span>
                    <span class="text-sm sm:text-lg font-medium text-indigo-600">
                      backend
                    </span>
                  </div>
                  <div class="text-xs sm:text-base leading-6 font-medium text-gray-900">
                    <span class="text-sm sm:text-lg font-semibold">
                      technologie
                    </span>
                    <span class="text-xs sm:text-base font-medium">
                      en 
                    </span>
                    <span class="text-sm sm:text-lg font-semibold">
                      programmeerconcepten
                    </span>
                  </div>
                </div>
              </div>
            </footer>
          </blockquote>

        </div>
      </div>

      <div class="relative lg:flex lg:items-center mt-32">
        <div class="block pb-12 lg:flex-shrink-0">
          <div class="w64 lg:w-80 xl:w-96"></div>
        </div>
        <div class="relative lg:ml-10">

          <div class="text-2xl leading-9 font-semibold text-gray-900">
            <span class="text-xl text-gray-500">
              mijn 
            </span>
            <span class="text-gray-600">
              hobbies
            </span>
          </div>
          
          <ul class="grid gap-3 grid-cols-2 sm:grid-cols-4 pt-4">
            <li class="col-span-1 text-center">
              <div class="flex-1 flex flex-col pt-2 px-1 pb-2">
                <img class="w-32 h-32 flex-shrink-0 mx-auto bg-transparent rounded-lg" src="../assets/basketball.svg" alt="">
                <h3 class="mt-6 text-gray-900 text-sm leading-5 font-medium">
                  basketball
                </h3>
              </div>
            </li>
            <li class="col-span-1 text-center">
              <div class="flex-1 flex flex-col pt-2 px-1 pb-2">
                <img class="w-32 h-32 flex-shrink-0 mx-auto bg-transparent rounded-lg" src="../assets/videogames.svg" alt="">
                <h3 class="mt-6 text-gray-900 text-sm leading-5 font-medium">
                  video games
                </h3>
              </div>
            </li>
            <li class="col-span-1 text-center">
              <div class="flex-1 flex flex-col pt-2 px-1 pb-2">
                <img class="w-32 h-32 flex-shrink-0 mx-auto bg-transparent rounded-lg" src="../assets/cardgames.svg" alt="">
                <h3 class="mt-6 text-gray-900 text-sm leading-5 font-medium">
                  board & card games
                </h3>
              </div>
            </li>
            <li class="col-span-1 text-center">
              <div class="flex-1 flex flex-col pt-2 px-1 pb-2">
                <img class="w-32 h-32 flex-shrink-0 mx-auto bg-transparent rounded-lg" src="../assets/movies.svg" alt="">
                <h3 class="mt-6 text-gray-900 text-sm leading-5 font-medium">
                  movies
                </h3>
              </div>
            </li>
          </ul>
        </div>
      </div> 

    </div>
  </section>

</template>

<script>
// import { ref } from 'vue';

export default {
  inheritAttrs: false,
}
</script>