<template>

  <div class="" ref="myprojects">
    <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:px-8 lg:pt-0">
      <div class="space-y-8">

        <div class="space-y-5 sm:space-y-4 md:max-w-xl lg:max-w-3xl xl:max-w-none">
          <p class="leading-6 text-indigo-600 font-semibold tracking-wide uppercase">
            ontwikkeling
          </p>
          <h1 class="mt-2 mb-8 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
            Enkele van mijn projecten
          </h1>
          <p class="text-lg leading-7 text-gray-500 mb-5">
            Een aantal projecten waar ik aan heb gewerkt. Telkens met een korte beschrijving, visuele elementen en (waar mogelijk) een externe link.
          </p>
        </div>
        
        
        <div class="space-y-12">
          <ul class="space-y-12 lg:grid lg:grid-cols-2 lg:items-start lg:gap-x-8 lg:gap-y-12 lg:space-y-0">

            <li v-for="job in jobs" :key="job.id">
              <router-link 
                :to="{name:'Project', params: { id: job.id}}"
              >
                <div 
                  class="space-y-4 sm:grid sm:grid-cols-3 sm:gap-6 sm:space-y-0 lg:gap-8"
                >
                  <div class="relative h-0 pb-2/3 sm:pt-2/3">
                    <img 
                      class="absolute inset-0 object-cover h-full w-full shadow-lg rounded-lg" 
                      :class="imgPositionClass(job)" :src="job.imgUrl" :alt="job.title"
                    >
                  </div>
                  <div class="sm:col-span-2">
                    <div class="space-y-4 h-full flex flex-col justify-between">

                      <div>

                        <div 
                          class="text-lg leading-6 font-medium space-y-1"
                        >
                          <p 
                            class="text-sm"
                            :class="(job.cardType === 'app' ? 'text-indigo-600' : 'text-green-600')"
                          >
                            {{ job.cardType }}
                          </p>
                          <h4>
                            {{ job.title }}
                          </h4>
                          
                        </div>
                        <div class="text-lg leading-7 lg:clamp-3">
                          <!-- <p class="text-gray-500 block lg:hidden" v-html="job.msg"></p> -->
                          <p class="text-gray-500" v-html="job.shortMsg"></p>
                        </div>

                      </div>

                      <div class="pt-2 flex justify-between lg:justify-start items-end">
                        <div class="flex flex-shrink-0">
                          <img class="h-12 w-12 rounded-full" :src="job.logoUrl" alt="">
                        </div>
                        <div class="ml-12 grid grid-cols-2 gap-1 grid-flow-row">
                          <div 
                            class="flex items-center text-sm sm:text-xs leading-5 justify-start text-gray-500 sm:mt-0" 
                            v-for="tag in job.tags" 
                            :key="tag.id"
                          >
                            <div v-html="tag.svg"></div>
                            {{ tag.txt }}
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </router-link>
            </li>

          </ul>
        </div>
        


      </div>
    </div>
  </div>

</template>

<script>
import { computed, onMounted, ref } from 'vue';
// import { ref } from 'vue';
// import { ref, reactive, computed } from 'vue'
import useJobs from "../composables/jobs";

export default {
  inheritAttrs: false,

  setup() {

    const myprojects = ref(null);
    
    const { jobs, error, load } = useJobs();

    let imgPositionClass = (myjob) => {
      return (myjob.imgPosition && myjob.imgPosition.includes('top') ? 'object-top' : '') 
        + (myjob.imgPosition && myjob.imgPosition.includes('bottom') ? ' object-bottom' : '');
    }

    if (!(typeof jobs !== 'undefined' && jobs.length > 0)) { load(); }

    // console.log(jobs);

    onMounted(() => {
      // console.log(myprojects.value)
      // window.scroll({x:0, y:0, behavior:'smooth'})
      // myprojects.scroll({x:0, y:0, behavior:'smooth'})
    })

    
    return {
      jobs,
      error,
      imgPositionClass,
    }
  }
}
</script>