<template>

  <div class="">
    <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:px-8 lg:pt-0">
      <div class="space-y-8">
        
        <div class="space-y-5 sm:space-y-4 md:max-w-xl lg:max-w-3xl xl:max-w-none">
        <!-- <div class="space-y-5 sm:mx-auto sm:max-w-xl sm:space-y-4 lg:max-w-5xl"> -->
          <p class="leading-6 text-indigo-600 font-semibold tracking-wide uppercase">
            ontwikkeling
          </p>
          <h1 class="mt-2 mb-8 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
            Een greep uit de technologie die ik gebruik
          </h1>
          <p class="text-lg leading-7 text-gray-500 mb-5">
            Altijd op zoek naar efficiëntere front en backend technologie ...
          </p>
        </div>
        
        <!-- <div class="px-8 py-6 overflow-hidden"> -->
          <ul class="grid grid-cols-2 col-gap-4 row-gap-8 sm:grid-cols-4 md:col-gap-6 lg:max-w-5xl lg:col-gap-8 lg:row-gap-12 xl:grid-cols-6 gap-y-4 gap-x-4">
            
            <li>
              <a href="https://vuejs.org/" target="_blank" class="block bg-gray-100 hover:bg-gray-50 focus:outline-none focus:bg-gray-50 transition duration-150 ease-in-out py-2 rounded-lg relative">
                <svg viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6 absolute right-0 top-0 text-yellow-200 border border-yellow-200 rounded-full bg-purple-400 transform -rotate-45" style="margin-right:-.15rem; margin-top:-.15rem;">
                  <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                </svg>
                <div class="space-y-4">
                  <img 
                    class="mx-auto h-20 w-20 lg:w-24 lg:h-24" 
                    src="../assets/vue.png" 
                    alt=""
                  >
                  <div class="space-y-2">
                    <div class="text-center text-xs leading-4 font-medium lg:text-sm lg:leading-5">
                      <p class="text-gray-600">vue.js</p>
                    </div>
                  </div>
                </div>
              </a>
            </li>
            
            <li>
              <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/" target="_blank" class="block bg-gray-100 hover:bg-gray-50 focus:outline-none focus:bg-gray-50 transition duration-150 ease-in-out py-2 rounded-lg relative">
                <svg viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6 absolute right-0 top-0 text-yellow-200 border border-yellow-200 rounded-full bg-purple-400 transform -rotate-45" style="margin-right:-.15rem; margin-top:-.15rem;">
                  <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                </svg>
                <div class="space-y-4">
                  <img 
                    class="mx-auto h-20 w-20 lg:w-24 lg:h-24" 
                    src="../assets/javascript.svg" 
                    alt=""
                  >
                  <div class="space-y-2">
                    <div class="text-center text-xs leading-4 font-medium lg:text-sm lg:leading-5">
                      <p class="text-gray-600">javascript</p>
                    </div>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a href="https://jquery.com/" target="_blank" class="block bg-gray-100 hover:bg-gray-50 focus:outline-none focus:bg-gray-50 transition duration-150 ease-in-out py-2 rounded-lg">
                <div class="space-y-4">
                  <img 
                    class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" 
                    src="../assets/jquery.svg" 
                    alt=""
                  >
                  <div class="space-y-2">
                    <div class="text-center text-xs leading-4 font-medium lg:text-sm lg:leading-5">
                      <p class="text-gray-600">jquery</p>
                    </div>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5" target="_blank" class="block bg-gray-100 hover:bg-gray-50 focus:outline-none focus:bg-gray-50 transition duration-150 ease-in-out py-2 rounded-lg">
                <div class="space-y-4">
                  <img 
                    class="mx-auto h-20 w-20 lg:w-24 lg:h-24" 
                    src="../assets/html5.svg" 
                    alt=""
                  >
                  <div class="space-y-2">
                    <div class="text-center text-xs leading-4 font-medium lg:text-sm lg:leading-5">
                      <p class="text-gray-600">html(5)</p>
                    </div>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a href="https://tailwindcss.com/" target="_blank" class="block bg-gray-100 hover:bg-gray-50 focus:outline-none focus:bg-gray-50 transition duration-150 ease-in-out py-2 rounded-lg relative">
                <svg viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6 absolute right-0 top-0 text-yellow-200 border border-yellow-200 rounded-full bg-purple-400 transform -rotate-45" style="margin-right:-.15rem; margin-top:-.15rem;">
                  <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                </svg>
                <div class="space-y-4">
                  <img 
                    class="mx-auto h-20 w-20 lg:w-24 lg:h-24" 
                    src="../assets/tailwindcss.svg" 
                    alt=""
                  >
                  <div class="space-y-2">
                    <div class="text-center text-xs leading-4 font-medium lg:text-sm lg:leading-5">
                      <p class="text-gray-600">tailwindCSS</p>
                    </div>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a href="https://tailwindui.com/" target="_blank" class="block bg-gray-100 hover:bg-gray-50 focus:outline-none focus:bg-gray-50 transition duration-150 ease-in-out py-2 rounded-lg">
                <div class="space-y-4">
                  <img 
                    class="mx-auto h-20 w-20 lg:w-24 lg:h-24" 
                    src="../assets/tailwindui.svg" 
                    alt=""
                  >
                  <div class="space-y-2">
                    <div class="text-center text-xs leading-4 font-medium lg:text-sm lg:leading-5">
                      <p class="text-gray-600">tailwindUI</p>
                    </div>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a href="https://sass-lang.com/" target="_blank" class="block bg-gray-100 hover:bg-gray-50 focus:outline-none focus:bg-gray-50 transition duration-150 ease-in-out py-2 rounded-lg">
                <div class="space-y-4">
                  <img 
                    class="mx-auto h-20 w-20 lg:w-24 lg:h-24" 
                    src="../assets/sass.svg" 
                    alt=""
                  >
                  <div class="space-y-2">
                    <div class="text-center text-xs leading-4 font-medium lg:text-sm lg:leading-5">
                      <p class="text-gray-600">sass</p>
                    </div>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a href="https://www.w3.org/Style/CSS/Overview.en.html" target="_blank" class="block bg-gray-100 hover:bg-gray-50 focus:outline-none focus:bg-gray-50 transition duration-150 ease-in-out py-2 rounded-lg relative">
                <svg viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6 absolute right-0 top-0 text-yellow-200 border border-yellow-200 rounded-full bg-purple-400 transform -rotate-45" style="margin-right:-.15rem; margin-top:-.15rem;">
                  <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                </svg>
                <div class="space-y-4">
                  <img 
                    class="mx-auto h-20 w-20 lg:w-24 lg:h-24" 
                    src="../assets/css3.svg" 
                    alt=""
                  >
                  <div class="space-y-2">
                    <div class="text-center text-xs leading-4 font-medium lg:text-sm lg:leading-5">
                      <p class="text-gray-600">css3</p>
                    </div>
                  </div>
                </div>
              </a>
            </li>
            
            <li>
              <a href="//lesscss.org/" target="_blank" class="block bg-gray-100 hover:bg-gray-50 focus:outline-none focus:bg-gray-50 transition duration-150 ease-in-out py-2 rounded-lg">
                <div class="space-y-4">
                  <img 
                    class="mx-auto h-20 w-20 lg:w-24 lg:h-24" 
                    src="../assets/less.png" 
                    alt=""
                  >
                  <div class="space-y-2">
                    <div class="text-center text-xs leading-4 font-medium lg:text-sm lg:leading-5">
                      <p class="text-gray-600">less</p>
                    </div>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a href="https://getbootstrap.com/" target="_blank" class="block bg-gray-100 hover:bg-gray-50 focus:outline-none focus:bg-gray-50 transition duration-150 ease-in-out py-2 rounded-lg">
                <div class="space-y-4">
                  <img 
                    class="mx-auto h-20 w-20 lg:w-24 lg:h-24" 
                    src="../assets/bootstrap.svg" 
                    alt=""
                  >
                  <div class="space-y-2">
                    <div class="text-center text-xs leading-4 font-medium lg:text-sm lg:leading-5">
                      <p class="text-gray-600">bootstrap</p>
                    </div>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a href="https://laravel.com/" target="_blank" class="block bg-gray-100 hover:bg-gray-50 focus:outline-none focus:bg-gray-50 transition duration-150 ease-in-out py-2 rounded-lg">
                <div class="space-y-4">
                  <img 
                    class="mx-auto h-20 w-20 lg:w-24 lg:h-24" 
                    src="../assets/laravel.svg" 
                    alt=""
                  >
                  <div class="space-y-2">
                    <div class="text-center text-xs leading-4 font-medium lg:text-sm lg:leading-5">
                      <p class="text-gray-600">laravel</p>
                    </div>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a href="https://www.php.net/" target="_blank" class="block bg-gray-100 hover:bg-gray-50 focus:outline-none focus:bg-gray-50 transition duration-150 ease-in-out py-2 rounded-lg">
                <div class="space-y-4">
                  <img 
                    class="mx-auto h-20 w-20 lg:w-24 lg:h-24" 
                    src="../assets/php.svg" 
                    alt=""
                  >
                  <div class="space-y-2">
                    <div class="text-center text-xs leading-4 font-medium lg:text-sm lg:leading-5">
                      <p class="text-gray-600">php</p>
                    </div>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a href="https://www.json.org/json-en.html" target="_blank" class="block bg-gray-100 hover:bg-gray-50 focus:outline-none focus:bg-gray-50 transition duration-150 ease-in-out py-2 rounded-lg">
                <div class="space-y-4">
                  <img 
                    class="mx-auto h-20 w-20 lg:w-24 lg:h-24" 
                    src="../assets/json.svg" 
                    alt=""
                  >
                  <div class="space-y-2">
                    <div class="text-center text-xs leading-4 font-medium lg:text-sm lg:leading-5">
                      <p class="text-gray-600">json</p>
                    </div>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a href="https://www.w3.org/XML/" target="_blank" class="block bg-gray-100 hover:bg-gray-50 focus:outline-none focus:bg-gray-50 transition duration-150 ease-in-out py-2 rounded-lg">
                <div class="space-y-4">
                  <img 
                    class="mx-auto h-20 w-20 lg:w-24 lg:h-24" 
                    src="../assets/xml.png" 
                    alt=""
                  >
                  <div class="space-y-2">
                    <div class="text-center text-xs leading-4 font-medium lg:text-sm lg:leading-5">
                      <p class="text-gray-600">xml</p>
                    </div>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a href="https://www.w3schools.com/sql/" target="_blank" class="block bg-gray-100 hover:bg-gray-50 focus:outline-none focus:bg-gray-50 transition duration-150 ease-in-out py-2 rounded-lg">
                <div class="space-y-4">
                  <img 
                    class="mx-auto h-20 w-20 lg:w-24 lg:h-24" 
                    src="../assets/sql.svg" 
                    alt=""
                  >
                  <div class="space-y-2">
                    <div class="text-center text-xs leading-4 font-medium lg:text-sm lg:leading-5">
                      <p class="text-gray-600">sql</p>
                    </div>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a href="https://git-scm.com/" target="_blank" class="block bg-gray-100 hover:bg-gray-50 focus:outline-none focus:bg-gray-50 transition duration-150 ease-in-out py-2 rounded-lg">
                <div class="space-y-4">
                  <img 
                    class="mx-auto h-20 w-20 lg:w-24 lg:h-24" 
                    src="../assets/git.svg" 
                    alt=""
                  >
                  <div class="space-y-2">
                    <div class="text-center text-xs leading-4 font-medium lg:text-sm lg:leading-5">
                      <p class="text-gray-600">git</p>
                    </div>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a href="https://www.w3schools.com/asp/default.ASP" target="_blank" class="block bg-gray-100 hover:bg-gray-50 focus:outline-none focus:bg-gray-50 transition duration-150 ease-in-out py-2 rounded-lg">
                <div class="space-y-4">
                  <img 
                    class="mx-auto h-20 w-20 lg:w-24 lg:h-24" 
                    src="../assets/classicasp.png" 
                    alt=""
                  >
                  <div class="space-y-2">
                    <div class="text-center text-xs leading-4 font-medium lg:text-sm lg:leading-5">
                      <p class="text-gray-600">classic asp</p>
                    </div>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a href="https://www.w3schools.com/asp/asp_ref_vbscript_functions.asp" target="_blank" class="block bg-gray-100 hover:bg-gray-50 focus:outline-none focus:bg-gray-50 transition duration-150 ease-in-out py-2 rounded-lg">
                <div class="space-y-4">
                  <img 
                    class="mx-auto h-20 w-20 lg:w-24 lg:h-24" 
                    src="../assets/vbscript.png" 
                    alt=""
                  >
                  <div class="space-y-2">
                    <div class="text-center text-xs leading-4 font-medium lg:text-sm lg:leading-5">
                      <p class="text-gray-600">vb script</p>
                    </div>
                  </div>
                </div>
              </a>
            </li>

          </ul>
        <!-- </div> -->

      </div>
    </div>
  </div>

</template>

<script>
// import { ref } from 'vue';

export default {
  inheritAttrs: false,
}
</script>