<template>
  <!-- This component requires Tailwind CSS >= 1.5.1 and @tailwindcss/ui >= 0.4.0 -->

  <div>

    <div class="mx-auto py-4 lg:py-12 px-4 max-w-screen-xl sm:px-6 lg:px-8 lg:pt-0 pb-8 sm:pb-16 lg:pb-0">
      <div class="space-y-5 sm:space-y-4 md:max-w-xl lg:max-w-3xl xl:max-w-none">
        <p class="leading-6 text-indigo-600 font-semibold tracking-wide uppercase">
          ontwikkeling
        </p>
        <h1 class="mt-2 mb-8 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
          Mijn werkervaring
        </h1>
        <p class="text-lg leading-7 text-gray-500 mb-5">
          Leren, creëren, delen, samenwerken, verfijnen.
        </p>
      </div>
    </div>

    <div class="relative">
      
      <div class="lg:absolute lg:inset-0">
        <div class="lg:absolute lg:inset-y-0 lg:left-0 lg:w-2/5 lg:flex lg:flex-col lg:justify-evenly lg:ml-8">
          <svg 
            class="hidden lg:block h-56 w-full object-cover" 
            viewBox="0 0 759.52257 640.54882"
          >
            <rect x="11.61886" y="0.39646" width="699.3405" height="447.88877" fill="#e6e6e6"/><rect x="31.61634" y="56.57288" width="659.34554" height="365.21521" fill="#fff"/><rect x="11.32025" width="699.3405" height="29.71054" fill="#5850ec"/><circle cx="33.39874" cy="15.1896" r="5.50662" fill="#fff"/><circle cx="54.3005" cy="15.1896" r="5.50662" fill="#fff"/><circle cx="75.20225" cy="15.1896" r="5.50662" fill="#fff"/><polygon points="747.941 576.821 753.08 597.379 730.468 603.546 728.412 581.961 747.941 576.821" fill="#a0616a"/><polygon points="665.713 602.518 665.713 622.047 643.099 626.159 638.988 615.88 647.211 598.407 665.713 602.518" fill="#a0616a"/><path d="M931.1769,519.477l-3.08355,27.75217,2.0557,53.44864s0,5.13926,3.08356,7.195c1.654,1.12324,38.03077,102.78582,38.03077,102.78582s-8.22286,10.2786-23.64072,7.195L944.5391,707.575s-4.11145-13.36215-6.16715-16.44571-32.89147-65.78294-32.89147-65.78294l-14.39-25.69647L886.979,634.59708s8.22286,44.19792,6.16715,64.75509-6.16715,42.14218-6.16715,42.14218l-24.66861-4.11145a17.162,17.162,0,0,0-3.08356-9.25071c-3.08356-4.11145-2.0557-18.50146-2.0557-18.50146v-3.08356l-6.1672-79.14506L839.6975,523.58844Z" transform="translate(-220.23872 -129.72559)" fill="#2f2e41"/><circle cx="641.04382" cy="174.92904" r="27.75217" fill="#a0616a"/><polygon points="665.199 175.443 676.505 203.195 649.781 222.725 633.335 193.944 665.199 175.443" fill="#a0616a"/><path d="M886.979,326.23966l10.2786-5.13929,6.16715,14.39s40.08648,12.3343,37.00292,68.86651S930.149,482.47412,930.149,482.47412s17.47361,37.00289,7.195,41.11432-97.64656,19.52929-99.70227,5.13928,7.195-98.67439,7.195-98.67439-3.08356-60.64364,22.61287-72.97793L862.31041,345.769Z" transform="translate(-220.23872 -129.72559)" fill="#3f3d56"/><path d="M830.44679,525.64415s-23.64072,24.66859-10.27856,30.83574,21.585-27.75217,21.585-27.75217Z" transform="translate(-220.23872 -129.72559)" fill="#a0616a"/><path d="M878.75612,746.63369l11.30646-4.11145s12.3343,27.75217,2.0557,27.75217H865.394s-15.41786-5.1393-23.64072-5.1393-23.64076-15.41787-12.3343-22.61287,25.69646-5.1393,25.69646-5.1393l4.11145-9.25071,5.1393,14.39S870.53326,752.80084,878.75612,746.63369Z" transform="translate(-220.23872 -129.72559)" fill="#2f2e41"/><path d="M962.01263,724.02078s6.43659-4.06146,9.8994-2.54463,5.5185,17.96253,5.5185,17.96253,10.27861,12.33431-12.3343,14.39-27.75217-2.0557-29.80788-8.22285,2.05571-12.33431,2.05571-12.33431l6.16715-2.0557s7.195-5.13931,5.1393-7.195,0-6.16715,0-6.16715S955.84548,732.24364,962.01263,724.02078Z" transform="translate(-220.23872 -129.72559)" fill="#2f2e41"/><path d="M870.77488,304.20991a13.61976,13.61976,0,0,0-.60363-2.64083c-1.4916-3.1293-7.31137-2.21593-8.34839-5.5238-.20294-.64739-.16053-1.35161-.35936-2.00026-.5071-1.654-2.45243-2.47435-4.18063-2.395a22.585,22.585,0,0,0-5.01088,1.29029c-4.06606,1.15395-8.39194.71346-12.59454.2636A12.67215,12.67215,0,0,1,834.3,291.8041c-1.59159-.97906-2.73829-2.95-2.15887-4.7265.55551-1.70327,2.41943-2.63921,3.2575-4.22269,1.33078-2.5144-.296-5.76184.78363-8.39389,1.73183-4.22223,8.28581-3.37443,11.61554-6.49522.80824-.75751,1.39023-1.72588,2.16486-2.51767,2.29837-2.34916,5.9281-2.80392,9.19855-2.47983s6.48427,1.28445,9.77024,1.22634c3.11627-.05511,6.38289-1.00409,9.25425.208a13.19858,13.19858,0,0,1,4.34712,3.57115l7.36491,8.07749a9.07755,9.07755,0,0,1,2.27637,3.42883c.44309,1.54768.03524,3.20935.2243,4.80807.43111,3.64612,3.84461,6.40012,4.30518,10.04265a13.05932,13.05932,0,0,1-.16244,3.38221l-1.0316,7.60654a5.66072,5.66072,0,0,1-.58126,2.13149c-.3.51257-.75364.91739-1.09137,1.40595-.95362,1.37939-.86659,3.20272-1.34048,4.81129-.47386,1.60839-2.17325,3.20024-3.65976,2.425-.96979-.50576-1.61143-4.68831-2.78955-5.77421-1.641-1.51253-2.49822-1.32611-4.5237-1.30051C877.46686,309.0699,872.07286,309.41774,870.77488,304.20991Z" transform="translate(-220.23872 -129.72559)" fill="#2f2e41"/><path d="M875.67257,364.27043s30.83572,12.3343,21.585,40.08648-33.91932,113.06438-33.91932,113.06438l-14.39,7.195-4.11145,11.30644-19.52931-7.195,3.08355-15.41788,7.195-15.41786,18.50146-115.12012S854.08751,363.24255,875.67257,364.27043Z" transform="translate(-220.23872 -129.72559)" fill="#3f3d56"/><polygon points="678.561 280.284 646.697 389.237 633.335 402.6 641.044 388.723 678.561 280.284" opacity="0.1" style="isolation:isolate"/><path d="M271.43739,427.631l6.008,42.72331,25.367,45.39352c7.34307,6.67552.66755,22.69676.66755,22.69676l-6.67552-4.67286-1.3351-8.01062S266.097,492.38348,258.7539,484.37286s-10.01328-52.069-10.01328-52.069Z" transform="translate(-220.23872 -129.72559)" fill="#fbbebe"/><path d="M249.32848,717.35905s1.3351,15.35369.66755,19.359-20.69411-.66755-20.69411-.66755c3.33776-6.67552,5.34042-26.70207,5.34042-26.70207Z" transform="translate(-220.23872 -129.72559)" fill="#fbbebe"/><path d="M348.79373,721.36436s2.00266,21.36165,1.3351,25.367-20.6941-.66756-20.6941-.66756c3.33776-6.67551,5.34041-26.70207,5.34041-26.70207Z" transform="translate(-220.23872 -129.72559)" fill="#fbbebe"/><circle cx="87.6473" cy="224.90381" r="24.2809" fill="#fbbebe"/><path d="M312.07834,377.5752c-4.00531,5.34041-2.00265,14.68614-2.00265,14.68614S269.355,439.65751,262.012,439.65751s-6.008-33.37759-6.008-33.37759,10.68083-12.68348,16.68884-15.35369,16.68879-31.37493,16.68879-31.37493S316.08365,372.23478,312.07834,377.5752Z" transform="translate(-220.23872 -129.72559)" fill="#fbbebe"/><path d="M339.448,468.36224l26.13063,43.894c4.76906,7.84618-4.10143,47.56062-4.10143,47.56062l-4.00531,84.77907-6.67551,85.42539V739.367l-22.02921-.66755-7.34307-91.43335-10.68083-68.75783-17.35635,52.73659-28.70472,64.75252a177.45051,177.45051,0,0,1-9.01328,23.35369l-5.34041,9.34573-20.02125-2.34042L260.67686,623.9018l6.008-66.75518c.6676-37.3829,12.68353-58.077,12.68353-58.077V491.059Z" transform="translate(-220.23872 -129.72559)" fill="#2f2e41"/><path d="M247.99337,733.38029s3.33776-5.34041,3.33776-3.33776,8.67817,7.34307,8.67817,7.34307,8.67818-1.3351,10.01328,8.67817-12.01593,12.01594-15.35369,11.34838-12.01593.66756-12.01593.66756-6.67552,1.3351-17.35635,0-1.3351-19.359,0-22.69676,8.01062-.66756,8.01062-.66756C245.32317,738.05315,247.99337,733.38029,247.99337,733.38029Z" transform="translate(-220.23872 -129.72559)" fill="#2f2e41"/><path d="M348.12618,743.39357s3.33776-5.34042,3.33776-3.33776,8.67817,7.34307,8.67817,7.34307,8.67817-1.33511,10.01328,8.67817S358.13946,768.093,354.8017,767.42543s-12.01593.66755-12.01593.66755-6.67552,1.33511-17.35635,0-1.3351-19.359,0-22.69676,8.01062-.66755,8.01062-.66755C345.456,748.06643,348.12618,743.39357,348.12618,743.39357Z" transform="translate(-220.23872 -129.72559)" fill="#2f2e41"/><path d="M302.06507,391.59378c16.68879-17.35634,34.71269,26.03452,34.71269,26.03452s6.008,16.02125,1.3351,24.69942,4.67284,28.03718,4.67284,28.03718c-22.86077,19.46112-45.64184,37.45312-66.75512,24.6994,2.67016-16.02124-6.008-24.03186-12.016-39.38555s-17.35635-12.01593-17.35635-12.01593.66755-17.35634,2.67021-31.37493,20.02659-19.28246,20.02659-19.28246C272.62262,398.87546,285.37627,408.95013,302.06507,391.59378Z" transform="translate(-220.23872 -129.72559)" fill="#3f3d56"/><path d="M331.43739,419.631l6.008,42.72331,25.367,45.39352c7.34307,6.67552.66755,22.69676.66755,22.69676l-6.67552-4.67286-1.3351-8.01062S326.097,484.38348,318.7539,476.37286s-10.01328-52.069-10.01328-52.069Z" transform="translate(-220.23872 -129.72559)" fill="#fbbebe"/><path d="M335.4427,426.30648l-28.03718,3.33776s-2.00265-32.71,2.23107-40.87906,19.79814.826,19.79814.826C333.44,390.25868,335.4427,426.30648,335.4427,426.30648Z" transform="translate(-220.23872 -129.72559)" fill="#3f3d56"/><path d="M335.06867,340.571c-17.95534,8.97415-7.59607,33.47737-9.71528,43.75879-3.471,16.8401-54.65742,8.2821-54.65742,8.2821-6.22762-1.12021-10.023-70.4068,24.08241-69.79416C311.96971,323.12653,350.44877,332.88394,335.06867,340.571Z" transform="translate(-220.23872 -129.72559)" fill="#2f2e41"/><ellipse cx="103.8839" cy="228.14987" rx="2.5" ry="4" fill="#fbbebe"/><path d="M422.41667,272.293c26.39,4.87,53.31,0,79.59-3.3l79.87-10c3.23-.41,7.93-2.34,9.83,1.61,1.07,2.21.35,7,.43,9.54.21,7,.19,14,0,21-.36,13.38-1.34,26.73-2.59,40.05-2.43,26.07-5.87,52-7.59,78.17-.88,13.32-1.32,26.68-.93,40,.09,3.18.22,6.36.41,9.53.21,3.55,1.8,8.82-2.07,11.19-2.21,1.36-6.56,1.29-9.09,1.69-4,.63-8,1.13-12.08,1.54-26.89,2.69-54.13,1.57-81.12,1.41l-81.5-.42-19.88-.11c-1.8,0-8.29,1.08-9.4-1.06-.47-.91.78-5.17,1-6.31q.46-2.82,1-5.63c2.32-13.15,5.06-26.22,7.82-39.28,5.93-28,12-56.14,14.44-84.74,1.21-14.35.41-28.83,1.89-43.15.69-6.65,1.51-21.49,10.36-22.08,7.5-.5,15.22,0,22.74,0a1.5,1.5,0,0,0,0-3c-7.1,0-14.21-.19-21.31-.05-4.72.09-8,1.21-10.25,5.55-5.75,11.14-5.16,26-5.34,38.16-.43,29.11-4.9,57.6-10.72,86.07-2.93,14.33-6.09,28.61-9,42.95-1.37,6.85-2.68,13.72-3.88,20.61-.56,3.28-3.39,10.51-.9,13.52s10.15,1.39,13.58,1.41l23.86.14,45.72.26c29.54.17,59.18,1,88.71.13,14.1-.42,29-1,42.73-4.37,4.09-1,6.06-2.88,6.22-7.24.24-6.76-.86-13.73-1-20.52-1-58.1,12.65-115.39,11.25-173.51-.09-3.95,1.4-13.91-2.92-16.3-1.94-1.08-4.46-.49-6.5-.25-3.9.45-7.79,1-11.69,1.46l-50.65,6.32c-16.19,2-32.37,4.16-48.59,6-17.17,2-34.51,3.19-51.62,0-1.89-.35-2.7,2.54-.8,2.89Z" transform="translate(-220.23872 -129.72559)" fill="#e6e6e6"/><path d="M390.57668,307.643l199.82-9.8c1.93-.1,1.94-3.1,0-3l-199.82,9.8C388.65666,304.733,388.64669,307.733,390.57668,307.643Z" transform="translate(-220.23872 -129.72559)" fill="#e6e6e6"/><path d="M452.13668,282.913a5,5,0,0,0,1.77,8.07c2.69,1.23,5.85.2,8.52-.47,4-1,8-1.89,12.11-2.62a165.14989,165.14989,0,0,1,27.09-2.52c4.14-.05,8.25.14,12.39.32,3,.12,6.23.36,8.77-1.5,2.9-2.12,3.84-6.26,1-8.84-4-3.65-12.62-1.53-17.24-1.15a386.61732,386.61732,0,0,0-49.86,7.44c-1.88.4-1.09,3.3.8,2.89q16.27-3.51,32.79-5.64,8.12-1,16.27-1.69c2.56-.21,5.12-.4,7.68-.55,1-.06,2.06-.17,3.08-.14,3.17.07,3.54-.5,1.64,3.33-1.69,3.39-1.15,3-4.08,2.89-1.24,0-2.48-.14-3.72-.2q-3.81-.16-7.62-.17-8.11,0-16.18.78c-4.56.44-9.11,1.06-13.62,1.86-2.82.5-5.62,1.08-8.41,1.72-1.23.29-2.47.59-3.7.9-.59.16-1.19.3-1.78.45q-3.28,1.14-5.59-3c1.34-1.39-.77-3.52-2.12-2.12Z" transform="translate(-220.23872 -129.72559)" fill="#e6e6e6"/><path d="M488.35668,325.593c-14.47-.56-30.1,3.35-39.63,15-7.46,9.11-11.71,24.74-3.81,35,8.49,11,27.11,9.06,38.34,4.37,11.88-5,24.88-15.31,28.45-28.21,4.45-16.11-10-28.29-25.05-28.47a1.501,1.501,0,0,0,0,3c8.58.1,17,3.78,21,11.77,4.19,8.42.58,17.26-5,24-8.94,10.73-22.92,18.82-37.16,18.59-8.55-.13-18-3.06-20.65-12.08-2.18-7.31-.52-15.3,3.28-21.78,8.22-14,24.95-18.74,40.29-18.14,1.93.07,1.93-2.93,0-3Z" transform="translate(-220.23872 -129.72559)" fill="#e6e6e6"/><path d="M473.98668,347.813a3.9,3.9,0,0,0-5.24,4c.3,3.9,4.6,5,7.83,4.77,2.79-.24,6.05-1.27,5.07-4.76a4.47991,4.47991,0,0,0-2.44-2.82,5.64988,5.64988,0,0,0-2.82-.35c-.37,0-3.76,1.24-2.32-.25l-2.36-.31a2.45994,2.45994,0,0,1,.72,2,1.51,1.51,0,0,0,2.25,1.29,2,2,0,0,1,2.71,2.34,1.51,1.51,0,0,0,2.74,1.16c1-1.8,2.21-5.38.71-7.26-1-1.27-2.93-.89-4.13-.15a14.4701,14.4701,0,0,0-2.06,1.77c-1.21,1.07-2,1.57-1.55-.48.75-3.73,4.31-6.7,7.56-8.19l-2.2-1.69a31.61976,31.61976,0,0,1-6.05,11.85l2.56,1.06a6.68,6.68,0,0,1,4.08-6.51h-1.47l.78,1.28c-.29,1.89,2.6,2.7,2.89.79.38-2.47-1.18-5.68-4.07-4.47-3.45,1.44-5.24,5.39-5.17,8.91,0,1.2,1.7,2.13,2.57,1.07a35.25979,35.25979,0,0,0,6.81-13.19,1.52,1.52,0,0,0-2.21-1.69,16.76983,16.76983,0,0,0-7.28,6.34c-1.22,2-2.75,5.12-1.51,7.42a3.18,3.18,0,0,0,4.3211,1.24618l.0289-.01617a11.69984,11.69984,0,0,0,2.51-2c.37-.33.78-.9,1.27-1,.44-.3.42-.13-.07.53a5.45012,5.45012,0,0,1-.87,2.92l2.74,1.15a5,5,0,0,0-7.11-5.73l2.26,1.3a5.45,5.45,0,0,0-1.13-3.53,1.52,1.52,0,0,0-2.35-.31c-1.52,1.59-1.81,4.34.1,5.81,1.43,1.09,2.13,0,3.7-.25,5.33-.69,2.22,1.71.34,1.79a7.08966,7.08966,0,0,1-2.51-.18q-3.13-1.06-.39-2.73c1.79.73,2.56-2.17.8-2.89Z" transform="translate(-220.23872 -129.72559)" fill="#e6e6e6"/><path d="M471.57668,353.293c1.23,4-3.85,5.32-6.26,6.7a13.94006,13.94006,0,0,0-4.33,3.79c-2.52,3.38-3.46,7.68-4.29,11.73-.38,1.89,2.51,2.69,2.9.8a34,34,0,0,1,2.53-8.63c1.8-3.58,4.38-4.78,7.74-6.62s5.79-4.69,4.6-8.57c-.56-1.84-3.46-1.05-2.89.8Z" transform="translate(-220.23872 -129.72559)" fill="#e6e6e6"/><path d="M476.57668,351.283a2.9,2.9,0,0,0-2.5,3c0,1.19.79,1.95,1.33,2.9a22.89933,22.89933,0,0,1,2.9,6.31c.48,2.15.95,6-.17,8-2.07,3.71-5.81,3-9,3-3,0-5.32,1-5.22-3.18.06-2.35,1.7-4.73,3-6.58l-2.74-.36a52.27123,52.27123,0,0,1,.91,9.26c0,1.39,2.13,2.16,2.79.75a57.93054,57.93054,0,0,0,3.81-10.54l-2.95-.4.52,7.6a1.51,1.51,0,0,0,2.79.76,3.3997,3.3997,0,0,0,.75-1.35c.1-.47-.82-3.64-1.19-2.51l2.94.4.21-7.22-3,.4a14.94031,14.94031,0,0,1,.56,6.3c-.19,1.67,2.62,2.05,3,.4l1.88-9.7-2.74.35a6.63006,6.63006,0,0,1,.51,4.32c-.22,1.92,2.78,1.9,3,0a10.54011,10.54011,0,0,0-.92-5.83,1.51,1.51,0,0,0-2.74.36l-1.89,9.7,2.95.4a16.3605,16.3605,0,0,0-.67-7.09,1.5,1.5,0,0,0-2.94.39l-.21,7.22a1.50706,1.50706,0,0,0,2.95.4l.16-.49a1.52,1.52,0,0,0-.38-1.46c-3.11-3.38-3.74,2-4.82,3.49l2.8.76-.52-7.6c-.11-1.62-2.51-2.12-2.95-.4a53.7608,53.7608,0,0,1-3.5,9.83l2.8.76a56.54012,56.54012,0,0,0-1-10.06c-.26-1.38-2.07-1.32-2.74-.36-2,2.88-5.46,9.17-2.79,12.62,2.33,3,9.66,1.84,12.79,1.65,4.94-.28,6.73-3.41,7.27-8.07a19.75928,19.75928,0,0,0-.37-6.68c-.27-1.18-3-8.66-3.82-8.51,1.9-.35,1.09-3.25-.8-2.9Z" transform="translate(-220.23872 -129.72559)" fill="#e6e6e6"/><path d="M470.76668,358.023l-8.19,10.81,2.59,1.51,6-8.68-2.74-1.16-2.99,11.41a1.51,1.51,0,0,0,2.74,1.16,52.71373,52.71373,0,0,1,4.57-6.43l-2.5-1.46a16.33,16.33,0,0,1-3.77,6.93l2.51,1.46a13.40018,13.40018,0,0,1,1.09-4c.77-1.73-1.67-3.26-2.59-1.52a35.209,35.209,0,0,1-2.89,4.54l2.74.36.61-2.85-2.74-.36.44,2.5a1.51,1.51,0,0,0,2.51.66,29.85955,29.85955,0,0,0,6-9.05h-2.58a13.47038,13.47038,0,0,1,1.41,4c.36,1.8,2.75,1.13,2.94-.4a81.30872,81.30872,0,0,0,.66-10.1h-3v6.29c0,1.63,2.67,2.11,2.95.4a11.46007,11.46007,0,0,1,1.47-4.3h-2.63a6.67011,6.67011,0,0,1,1,3.4,1.5,1.5,0,0,0,3,0l.38-2h-2.89c.29,1.77,1.39,11.74-2.52,10.57-.66-.16-.85-.12-.57.11l.89-1.9,2.09-4.43-2.8-.76c.18,2.06.37,5-.87,6.76-1,1.43-4.08,2-5.65,1.16a10.00016,10.00016,0,0,1-2.61-2.74l-2.05,2c1.66,1.21,4.35,4.18,6.49,4.35,1.63.13,3-1.22,4.07-2.3a17.43006,17.43006,0,0,0,4.89-12.83,1.5,1.5,0,0,0-3,0v3.42a1.5,1.5,0,0,0,3,0v-8.39a1.5,1.5,0,0,0-3,0,35.99883,35.99883,0,0,1-.52,6l2.95.4a69.06162,69.06162,0,0,1-.33-7.19,1.5,1.5,0,0,0-2.94-.4c-.45,1.91-1,3.79-1.53,5.66l2.74-.36-.21-.8c-.14-1.91-3.14-1.92-3,0a5.4903,5.4903,0,0,0,.62,2.32c.58,1.22,2.39.79,2.74-.36.57-1.88,1.08-3.76,1.53-5.66l-2.95-.4a69.06143,69.06143,0,0,0,.33,7.19c.15,1.54,2.63,2.2,2.94.4a41.32765,41.32765,0,0,0,.63-6.84h-3v8.39h3v-3.42h-3a14.42,14.42,0,0,1-3.65,10.27984,12.28529,12.28529,0,0,1-1.26,1.24c-.71.68-1.36.58-1.93-.31-1.42-.59-2.89-2.11-4.13-3s-2.94.87-2.06,2.05c2.3,3.06,5.73,6.47,10,5,4.49-1.59,5.1-7.67,4.76-11.67-.11-1.33-2.1-2.23-2.79-.75-1,2.11-2,4.21-3,6.33a5.59267,5.59267,0,0,0-.9,2.64c.33,2.25,3.06,1.88,4.74,1.75,6.51-.49,5.48-9.72,4.73-14.36-.25-1.54-2.49-1.3-2.89,0a8.82977,8.82977,0,0,0-.49,2.84h3a11.89014,11.89014,0,0,0-1.41-4.91,1.51,1.51,0,0,0-2.59,0,14.58031,14.58031,0,0,0-1.78,5l3,.4v-6.29a1.5,1.5,0,0,0-3,0,81.30872,81.30872,0,0,1-.66,10.1l2.95-.4a17.1703,17.1703,0,0,0-1.71-4.68,1.51,1.51,0,0,0-2.59,0,27.36029,27.36029,0,0,1-5.53,8.44l2.51.66-.44-2.5c-.23-1.33-2.11-1.37-2.74-.36a6.57993,6.57993,0,0,0-.91,5.16c.25,1.42,2.05,1.27,2.74.36a35.09787,35.09787,0,0,0,2.89-4.53l-2.59-1.52a17.05981,17.05981,0,0,0-1.4,4.71c-.18,1.32,1.39,2.7,2.51,1.46a20,20,0,0,0,4.54-8.26c.37-1.36-1.51-2.65-2.51-1.46a57.28759,57.28759,0,0,0-5,7l2.74,1.16,3.05-11.37a1.51,1.51,0,0,0-2.74-1.16l-6,8.69c-1.12,1.61,1.45,3,2.59,1.51l8.16-10.8c1.16-1.54-1.44-3-2.59-1.52Z" transform="translate(-220.23872 -129.72559)" fill="#e6e6e6"/><path d="M598.3467,394.113c12-7.34,21.54-18.29,32.14-27.45,11.5-9.93,23.57-19.18,36-27.94,24.14-17,49.49-32.21,74.82-47.38a1.5,1.5,0,0,0-1.51-2.59c-25.33,15.17-50.69,30.35-74.83,47.38-11.39,8-22.51,16.48-33.17,25.48-11.6,9.8-21.93,22-35,29.91-1.65,1-.14,3.6,1.51,2.59Z" transform="translate(-220.23872 -129.72559)" fill="#e6e6e6"/><path d="M780.0367,244.763c-13,1.32-27,4.63-35,16-6.91,9.78-6.76,26.84-.27,36.88,7.37,11.41,22.43,11.82,34.13,8.13s23.81-10.16,23.7-24.14c-.06-7.5-2.77-15.31-5.76-22.11-2.58-5.87-7.15-11-14.07-10.35-1.91.18-1.93,3.18,0,3,9.27-.86,12.25,10.15,14.45,17.1,2,6.49,3.85,14.17.71,20.62s-10.71,9.74-17.18,12.1c-7,2.54-14.69,4.09-22,2-14.48-4.05-18.48-22.4-14.31-35.42,4.8-15,21.8-19.41,35.65-20.81,1.9-.19,1.92-3.19,0-3Z" transform="translate(-220.23872 -129.72559)" fill="#e6e6e6"/><path d="M800.0367,360.763c-13,1.32-27,4.63-35,16-6.91,9.78-6.76,26.84-.27,36.88,7.37,11.41,22.43,11.82,34.13,8.13s23.81-10.16,23.7-24.14c-.06-7.5-2.77-15.31-5.76-22.11-2.58-5.87-7.15-11-14.07-10.35-1.91.18-1.93,3.18,0,3,9.27-.86,12.25,10.15,14.45,17.1,2,6.49,3.85,14.17.71,20.62s-10.71,9.74-17.18,12.1c-7,2.54-14.69,4.09-22,2-14.48-4.05-18.48-22.4-14.31-35.42,4.8-15,21.8-19.41,35.65-20.81,1.9-.19,1.92-3.19,0-3Z" transform="translate(-220.23872 -129.72559)" fill="#e6e6e6"/><path d="M760.42665,273.973l9.47,10.8a1.51,1.51,0,0,0,2.5-.67c2-5.26,1.62-10.71,2.09-16.24a53.46994,53.46994,0,0,1,4.25-16.57,55.92982,55.92982,0,0,1,22.38-25.65c1.65-1,.14-3.6-1.51-2.59a58.72008,58.72008,0,0,0-22.62995,24.86,57.4708,57.4708,0,0,0-5,15.87c-1,6.49-.09,13.29-2.49,19.52l2.51-.67-9.42-10.78c-1.28-1.45-3.39.68-2.12,2.12Z" transform="translate(-220.23872 -129.72559)" fill="#e6e6e6"/><path d="M603.17665,405.803q77.37-2.36,154.78-1a1.501,1.501,0,0,0,0-3q-77.39-1.38-154.78,1C601.24666,402.863,601.23665,405.863,603.17665,405.803Z" transform="translate(-220.23872 -129.72559)" fill="#e6e6e6"/><path d="M768.73665,376.223a309.91983,309.91983,0,0,1,50.67,25.46c1.64,1,3.15-1.57,1.51-2.59a313.22936,313.22936,0,0,0-51.34-25.76c-1.79-.71-2.57,2.19-.79,2.89Z" transform="translate(-220.23872 -129.72559)" fill="#e6e6e6"/><path d="M800.75667,362.633a122.5,122.5,0,0,0-29.41,74.53c-.08,1.93,2.92,1.93,3,0a119.13985,119.13985,0,0,1,28.53-72.41c1.25-1.46-.86-3.59-2.12-2.12Z" transform="translate(-220.23872 -129.72559)" fill="#e6e6e6"/><path d="M400.80669,394.913l111.77-1.46,12.85-.17c2.31,0,4.62-.08,6.93-.09,3.25,0,5.44,2.7,5.38,6-.15,7-4.55,6.75-10.31,7l-13.89.63-56.56,2.49c-10.13.45-20.27,1-30.4,1.35-9.14.28-26.52-2.7-22.46-16,.56-1.85-2.33-2.64-2.9-.8-2,6.54,1.54,13.18,7.24,16.61,8.09,4.86,18.75,3.21,27.68,2.81l69.44-3.15,16.86-.75c4.32-.2,10.33.68,14.3-1.33,4.66-2.35,5.48-11.68,2.54-15.61-1.51-2-3.63-2.18-6-2.27-6.22-.24-12.55.17-18.78.25l-34.62.46-79.11,1a1.501,1.501,0,0,0,0,3Z" transform="translate(-220.23872 -129.72559)" fill="#e6e6e6"/><polygon points="508.937 343.083 476.472 323.524 485.953 360.222 491.668 346.852 501.2 359.634 504.027 357.526 494.495 344.744 508.937 343.083" fill="#5850ec"/><rect x="502.3839" y="364.14987" width="55" height="19" fill="#5850ec"/><polygon points="316.831 188.083 349.296 168.524 339.815 205.222 334.1 191.852 324.568 204.634 321.741 202.526 331.273 189.744 316.831 188.083" fill="#3f3d56"/><rect x="268.3839" y="210.14987" width="55" height="19" fill="#3f3d56"/>
          </svg>

          <svg 
            class="h-56 w-full object-cover mt-24 lg:mt-0" 
            viewBox="0 0 890.30174 489.29978"
          >
            <rect x="182.97245" y="0.39886" width="703.57565" height="450.60114" fill="#e6e6e6"/><rect x="245.18701" y="60.90722" width="254" height="261" fill="#fff"/><rect x="594.18701" y="65.96874" width="254" height="317" fill="#fff"/><ellipse cx="844.80174" cy="477.2616" rx="45.5" ry="6.5" fill="#e6e6e6"/><ellipse cx="389.89961" cy="477.40722" rx="45.5" ry="6.5" fill="#e6e6e6"/><ellipse cx="104.42498" cy="470.90722" rx="104.42498" ry="5" fill="#e6e6e6"/><rect x="182.67203" width="703.57565" height="29.89047" fill="#f9a826"/><circle cx="204.88423" cy="15.28159" r="5.53997" fill="#e6e6e6"/><circle cx="225.91256" cy="15.28159" r="5.53997" fill="#e6e6e6"/><circle cx="246.94089" cy="15.28159" r="5.53997" fill="#e6e6e6"/><path d="M947.03614,356.34879H945.4975V314.19823a24.3956,24.3956,0,0,0-24.39567-24.39563H831.80022a24.3956,24.3956,0,0,0-24.39567,24.39563V545.43948a24.3956,24.3956,0,0,0,24.39567,24.39563h89.30161a24.3956,24.3956,0,0,0,24.39567-24.39563V386.35227h1.53864Z" transform="translate(-154.84913 -205.35011)" fill="#3f3d56"/><path d="M921.08621,296.1495H909.42939a8.6555,8.6555,0,0,1-8.01381,11.92446H850.25579A8.65552,8.65552,0,0,1,842.242,296.1495H831.35448a18.21836,18.21836,0,0,0-18.21838,18.21834v230.902a18.21836,18.21836,0,0,0,18.21838,18.21836h89.73173a18.21837,18.21837,0,0,0,18.21839-18.21836v-230.902A18.21837,18.21837,0,0,0,921.08621,296.1495Z" transform="translate(-154.84913 -205.35011)" fill="#fff"/><rect x="284.09023" y="225.77561" width="176.5444" height="8.05267" fill="#e6e6e6"/><rect x="284.09023" y="251.77561" width="176.5444" height="8.05267" fill="#f9a826"/><rect x="284.09023" y="277.77561" width="176.5444" height="8.05267" fill="#e6e6e6"/><rect x="670.83934" y="243.34556" width="103.06376" height="8.05267" fill="#e6e6e6"/><rect x="670.83934" y="268.34556" width="103.06376" height="8.05267" fill="#e6e6e6"/><rect x="670.83934" y="293.34556" width="103.06376" height="8.05267" fill="#e6e6e6"/><rect x="922.35071" y="606.56341" width="17.17729" height="17.17729" transform="translate(1391.24229 -521.13741) rotate(90)" fill="#3f3d56"/><rect x="894.67619" y="606.56341" width="17.17729" height="17.17729" transform="translate(1363.56776 -493.46289) rotate(90)" fill="#f9a826"/><rect x="867.00166" y="606.56341" width="17.17729" height="17.17729" transform="translate(1335.89323 -465.78836) rotate(90)" fill="#3f3d56"/><rect x="839.32713" y="606.56341" width="17.17729" height="17.17729" transform="translate(1308.2187 -438.11383) rotate(90)" fill="#3f3d56"/><rect x="811.6526" y="606.56341" width="17.17729" height="17.17729" transform="translate(1280.54418 -410.4393) rotate(90)" fill="#3f3d56"/><rect x="692.7424" y="138.9903" width="57.25764" height="57.25764" fill="#f9a826"/><path d="M504.45442,480.943l-.74114,1.48227-2.2234-11.117s-2.96454-11.85815,2.96454-11.85815,4.4468,11.85815,4.4468,11.85815v8.15248Z" transform="translate(-154.84913 -205.35011)" fill="#a0616a"/><path d="M601.69555,479.42524l.74113,1.48227,2.22341-11.117s2.96454-11.85815-2.96454-11.85815-4.44681,11.85815-4.44681,11.85815V477.943Z" transform="translate(-154.84913 -205.35011)" fill="#a0616a"/><polygon points="382.215 358.94 373.322 413.784 377.768 467.145 388.144 462.699 386.662 422.677 397.038 390.808 399.261 428.606 394.815 467.886 408.155 469.369 417.79 388.585 417.049 361.163 382.215 358.94" fill="#2f2e41"/><path d="M537.06434,665.82526l-5.18794,8.15248V692.194a2.209,2.209,0,0,0,1.85635,2.18045c2.5428.41721,6.97037.71364,8.51954-1.86831,2.2234-3.70567.74113-11.85816.74113-11.85816s2.96454-5.92907,1.48227-10.37588-2.96454-5.18794-2.96454-5.18794Z" transform="translate(-154.84913 -205.35011)" fill="#2f2e41"/><path d="M559.29839,673.23661l1.48227,2.2234s2.2234,2.22341.74113,3.70568a28.96565,28.96565,0,0,0-2.96454,3.70567s-8.15248,2.2234-8.15248-.74114v-9.63475Z" transform="translate(-154.84913 -205.35011)" fill="#2f2e41"/><circle cx="401.77827" cy="288.79506" r="9.82427" fill="#a0616a"/><polygon points="395.185 291.867 394.444 305.949 407.784 306.69 407.043 292.608 395.185 291.867" fill="#a0616a"/><path d="M564.48633,512.41037l-2.10384-5.13957s-9.75432-3.75405-12.71885-.04838l-1.48227,4.44681-11.85816-2.96454-6.67021,14.8227,5.92908,42.24468s15.56382,20.01064,36.3156.74113l5.92908-40.02127L573.38,510.9281Z" transform="translate(-154.84913 -205.35011)" fill="#575a89"/><polygon points="417.049 308.543 418.531 305.578 433.354 296.684 442.4 269.907 449.4 272.907 441.506 304.837 420.013 324.847 417.049 308.543" fill="#575a89"/><polygon points="382.956 304.837 381.474 303.355 365.91 293.72 354.793 271.486 345.9 274.45 355.534 301.872 379.251 321.142 382.956 304.837" fill="#575a89"/><path d="M563.91892,479.10047l1.60629-.80315-2.40943-.80314V476.691s-12.04715-4.81886-13.65343,3.21257a16.14329,16.14329,0,0,0,0,19.27544v2.40942l12.85029,1.60629,1.60628-4.81886S571.95036,483.91933,563.91892,479.10047Z" transform="translate(-154.84913 -205.35011)" fill="#2f2e41"/><path d="M269.93891,565.15978l-2.85542,1.42771s-11.42168,5.23493-8.09036,8.09035,12.37349-2.85542,12.37349-2.85542l1.90361-2.37952Z" transform="translate(-154.84913 -205.35011)" fill="#ffb8b8"/><polygon points="198.633 359.099 189.807 418.346 176.481 459.749 169.343 456.418 176.005 399.786 156.969 383.605 158.397 359.81 198.633 359.099" fill="#2f2e41"/><path d="M323.24006,663.19583s8.09036-4.28313,8.56626,1.90361l-.95181,6.18674s2.85542,10.94578-6.66264,8.56626-2.85542-9.51806-2.85542-9.51806Z" transform="translate(-154.84913 -205.35011)" fill="#2f2e41"/><path d="M318.00513,583.72l-6.18674,5.23493s0,32.36142,4.28312,37.12045,31.40961,29.0301,32.36142,29.9819,5.23494-9.51806,5.23494-9.51806l-25.69878-29.9819,1.90362-18.56023Z" transform="translate(-154.84913 -205.35011)" fill="#2f2e41"/><path d="M350.84245,645.11151s7.61445-1.42771,7.61445,3.80722a115.23116,115.23116,0,0,0,.9518,12.37349s1.90362,16.65661-4.28313,14.27709-8.56625-19.03612-8.56625-19.03612a7.08933,7.08933,0,0,1,2.85542-3.33133C351.31835,652.25006,350.84245,645.11151,350.84245,645.11151Z" transform="translate(-154.84913 -205.35011)" fill="#2f2e41"/><polygon points="172.198 288.424 173.626 306.033 169.819 312.695 159.349 302.701 158.397 289.376 172.198 288.424" fill="#ffb8b8"/><circle cx="163.6319" cy="282.71335" r="11.42168" fill="#ffb8b8"/><polygon points="168.391 305.557 173.15 291.756 181.716 301.274 197.421 361.713 185.523 368.852 180.289 361.237 179.337 371.231 156.017 366.472 154.114 302.701 158.87 296.002 168.391 305.557" fill="#d0cde1"/><polygon points="161.728 373.135 158.873 296.039 152.686 300.798 141.264 308.412 148.879 335.539 151.258 364.093 161.728 373.135" fill="#2f2e41"/><polygon points="144.596 308.888 141.264 308.412 131.746 336.49 112.71 360.286 119.849 367.9 141.74 346.484 149.831 328.876 144.596 308.888" fill="#2f2e41"/><path d="M351.4174,565.59536l-.64933,3.12573s-2.97081,12.20793,1.33475,11.36336,5.4281-11.48008,5.4281-11.48008l-.68754-2.96869Z" transform="translate(-154.84913 -205.35011)" fill="#ffb8b8"/><polygon points="172.406 290.983 195.993 300.322 193.138 328.876 198.849 360.286 193.138 366.472 172.022 295.028 172.406 290.983" fill="#2f2e41"/><path d="M319.079,468.8806l3.35262-1.6763v1.6763l2.23507-1.11753v2.79384s8.38153,6.14645,6.70522,13.41044-1.67631,7.82276-1.67631,7.82276-2.11922-13.81412-10.50074-11.57905-9.05615,2.63876-11.29122,8.78521l-.60636,2.63647S297.84583,469.99814,319.079,468.8806Z" transform="translate(-154.84913 -205.35011)" fill="#2f2e41"/><polygon points="192.662 300.322 196.469 300.322 202.656 333.635 202.656 362.665 195.042 361.237 188.855 317.454 192.662 300.322" fill="#2f2e41"/><rect x="3.53501" y="370.77159" width="140.32096" height="97.51118" fill="#f9a826"/><path d="M228.54462,595.14827a29.729,29.729,0,1,0,29.729,29.729A29.81642,29.81642,0,0,0,228.54462,595.14827Zm0,8.9187a8.91871,8.91871,0,1,1-8.91871,8.91871,8.94863,8.94863,0,0,1,8.91871-8.91871Zm0,42.93556a21.65737,21.65737,0,0,1-17.83742-9.519c.14293-5.94581,11.89161-9.21886,17.83742-9.21886s17.69448,3.27305,17.8374,9.21886a21.69344,21.69344,0,0,1-17.83741,9.519Z" transform="translate(-154.84913 -205.35011)" fill="#fff"/><rect x="284.18701" y="90.90722" width="176" height="101" fill="#e6e6e6"/><path d="M963.0513,496.58366l.81548-5.25988s4.75311-10.80516.99606-11.38765-6.89084,9.70426-6.89084,9.70426l1.37467,10.98574Z" transform="translate(-154.84913 -205.35011)" fill="#ffb8b8"/><polygon points="846.67 321.051 813.089 314.306 809.187 289.847 799.302 289.084 799.785 320.707 828.962 336.004 846.67 321.051" fill="#575a89"/><polygon points="846.67 321.051 813.089 314.306 809.187 289.847 799.302 289.084 799.785 320.707 828.962 336.004 846.67 321.051" opacity="0.2"/><rect x="910.1623" y="482.06175" width="103.06376" height="8.05267" transform="translate(1768.53923 766.82607) rotate(-180)" fill="#f9a826"/><path d="M956.49034,494.78044l.00669-5.32271s3.05587-11.402-.74606-11.40676-5.33608,10.63873-5.33608,10.63873l3.02818,10.64924Z" transform="translate(-154.84913 -205.35011)" fill="#ffb8b8"/><path d="M1000.2023,510.02489l4.60746-1.12311a11.86169,11.86169,0,0,0,11.64163-14.21088h0a15.50416,15.50416,0,0,0-15.48468-15.52363h0A15.50417,15.50417,0,0,0,985.443,494.65194v0A12.32065,12.32065,0,0,0,1000.2023,510.02489Z" transform="translate(-154.84913 -205.35011)" fill="#2f2e41"/><polygon points="818.254 381.458 822.005 422.524 828.797 462.833 840.203 462.847 838.732 423.305 832.709 375.393 818.254 381.458" fill="#2f2e41"/><path d="M985.17015,665.90379l-7.6096,4.55277s-12.1681,1.50549-9.89171,5.31029,28.89279,1.55707,28.8947.03629-.748-9.886-2.26874-9.88789Z" transform="translate(-154.84913 -205.35011)" fill="#2f2e41"/><path d="M1006.77139,583.2605s-.21394,5.87095-5.54811,14.98891l.72505,28.13527,27.33,35.01218-9.89553,8.35184-33.40927-38.06137-8.307-45.63372,10.65879-10.63205Z" transform="translate(-154.84913 -205.35011)" fill="#2f2e41"/><path d="M1026.99716,661.394s9.12274,1.53224,7.59719,5.33226-5.34945,21.28415-15.23162,18.99057c0,0-4.56232-.00573-3.03773-3.04536a55.0044,55.0044,0,0,1,3.04824-5.31889l.01241-9.885Z" transform="translate(-154.84913 -205.35011)" fill="#2f2e41"/><circle cx="840.41522" cy="294.04136" r="11.40581" fill="#ffb8b8"/><polygon points="845.728 301.652 845.712 314.578 833.546 314.563 835.083 301.639 845.728 301.652" fill="#ffb8b8"/><path d="M985.35926,515.34718l3.68652-.9056,11.52122.9247s6.07545,6.09074,5.31316,7.61055-4.611,38.774-4.611,38.774l6.81006,26.62213-24.33429,1.49021-12.16428-1.53605,2.34133-47.90151s-5.30647-12.93326,1.54178-16.7266A29.95429,29.95429,0,0,0,985.35926,515.34718Z" transform="translate(-154.84913 -205.35011)" fill="#575a89"/><polygon points="844.193 313.056 809.978 311.492 802.404 287.911 792.518 288.658 797.801 319.841 828.964 330.526 844.193 313.056" fill="#575a89"/><circle cx="862.43241" cy="278.27937" r="7.35883" fill="#2f2e41"/><path d="M1010.49168,479.67357a7.35536,7.35536,0,0,1,8.807-7.20494A7.3554,7.3554,0,1,0,1014.711,486.331,7.35277,7.35277,0,0,1,1010.49168,479.67357Z" transform="translate(-154.84913 -205.35011)" fill="#2f2e41"/><path d="M1004.17862,483.847l-9.92079-1.82669-7.62952,4.78184a11.57336,11.57336,0,0,0-5.33128,11.29456l7.64125-1.93681,1.71106-4.29045,2.03787,3.34024,8.26714,14.45412,8.37-4.55181,5.33322-8.35757Z" transform="translate(-154.84913 -205.35011)" fill="#2f2e41"/><rect x="526.03635" y="245.29674" width="1.99958" height="202.92117" transform="translate(-190.8885 425.93087) rotate(-60.15005)" fill="#fff"/><rect x="425.57556" y="345.75754" width="202.92117" height="1.99958" transform="translate(-257.51689 102.92685) rotate(-29.84553)" fill="#fff"/><rect x="875.53625" y="332.45224" width="1.99979" height="80.61017" transform="translate(-161.69687 523.63263) rotate(-45)" fill="#fff"/><rect x="836.23106" y="371.75743" width="80.61017" height="1.99979" transform="translate(-161.69687 523.63263) rotate(-45)" fill="#fff"/>
          </svg>
          
          <svg 
            class="hidden lg:block h-56 w-full object-cover mt-24 lg:mt-0" 
            viewBox="0 0 963.50956 774.36439"
          >
            <rect y="719.52637" width="963.50956" height="2.24072" fill="#3f3d56"/><path d="M722.76988,398.62826s-43.21728,33.95643-21.60864,41.6738,35.4999-27.78253,35.4999-27.78253Z" transform="translate(-118.24522 -62.8178)" fill="#ffb8b8"/><path d="M724.31335,386.28047l-9.26085,15.43474s15.43475,0,18.52169,23.15211l12.3478-15.43474Z" transform="translate(-118.24522 -62.8178)" fill="#cfcce0"/><polygon points="811.35 675.375 812.894 721.679 794.372 732.483 786.655 727.853 788.198 675.375 811.35 675.375" fill="#ffb8b8"/><path d="M820.00875,725.84477l3.08694,49.39118-43.21727,18.52169,3.087-26.23906s12.34779-20.06517,9.26084-41.67381Z" transform="translate(-118.24522 -62.8178)" fill="#ffb8b8"/><path d="M886.37813,353.86751s24.69559,64.82591,29.326,104.95624,12.3478,146.63,12.3478,146.63L943.48668,742.823l-43.21728,6.1739L881.74771,610.08421,840.07391,472.715l-9.26085,137.36919-7.71737,125.02141-40.13032,1.54347-3.087-129.65182L762.9002,441.84553l9.26085-78.71718Z" transform="translate(-118.24522 -62.8178)" fill="#2f2e41"/><path d="M909.53025,787.58374s2.53155-25.92279,21.33093-11.41792l3.36465-2.47335,15.43474,33.95643s18.52169,26.23906-13.89126,29.326-29.326-29.326-29.326-29.326l-3.087-13.89126,1.54347-9.09678Z" transform="translate(-118.24522 -62.8178)" fill="#2f2e41"/><path d="M820.00875,756.71426a24.52083,24.52083,0,0,1,12.34779,21.60864c0,15.43474-1.54348,16.97821-1.54348,16.97821L807.661,801.475s-15.43474-1.54348-24.69558,7.71737-55.56507,15.43474-55.56507,3.087,38.58685-32.413,38.58685-32.413,11.45915-19.35216,19.62084-17.39345,11.24864,5.04566,11.24864,6.58913-4.63042,12.34779-4.63042,12.34779S818.46527,775.236,820.00875,756.71426Z" transform="translate(-118.24522 -62.8178)" fill="#2f2e41"/><circle cx="698.67658" cy="62.61553" r="38.58685" fill="#ffb8b8"/><path d="M845.47607,135.46592l16.97821,38.58685-46.30422,66.36939s-3.087-72.54329-12.34779-84.89108S845.47607,135.46592,845.47607,135.46592Z" transform="translate(-118.24522 -62.8178)" fill="#ffb8b8"/><polygon points="705.622 152.909 713.34 132.844 719.513 134.387 727.231 128.213 738.035 94.257 753.47 105.061 773.535 307.256 648.514 310.343 665.492 169.887 680.927 129.757 692.068 115.028 699.448 137.474 705.622 152.909" fill="#cfcce0"/><path d="M859.36734,302.16112l4.723-139.6196s9.16826.70693,12.25521,5.33735,54.0216,13.89127,54.0216,13.89127l-9.26085,143.5431s38.58685,114.21708,24.69559,120.391-38.58686,4.63042-38.58686,4.63042Z" transform="translate(-118.24522 -62.8178)" fill="#575a89"/><path d="M784.50884,284.41117l16.3736-94.09812-36.43876,24.64179,9.26084,67.91286-7.71737,46.30422S736.66114,457.28028,745.922,461.9107s20.06516,0,20.06516,0l18.52169-129.65183Z" transform="translate(-118.24522 -62.8178)" fill="#575a89"/><path d="M775.248,211.86789l-10.80432,3.087-4.63043,61.739-7.71737,54.0216L715.0525,397.08478s18.52169-12.34779,26.23906,23.15212l40.79561-71.02631Z" transform="translate(-118.24522 -62.8178)" fill="#575a89"/><path d="M895.639,386.28047s-43.21728,33.95643-21.60864,41.6738,35.49991-27.78254,35.49991-27.78254Z" transform="translate(-118.24522 -62.8178)" fill="#ffb8b8"/><polygon points="803.633 340.441 789.742 357.419 771.22 325.006 778.937 311.115 803.633 340.441" fill="#cfcce0"/><path d="M918.79109,187.1723l12.34779-6.17389s9.26085,12.34779,10.80432,23.15211,9.26085,24.69558,9.26085,32.41295,21.60864,80.26066,21.60864,80.26066L923.42151,417.15s-10.80432-37.04338-33.95643-40.13033L928.05194,322.998,906.4433,284.41117Z" transform="translate(-118.24522 -62.8178)" fill="#575a89"/><path d="M849.22485,88.66835l7.27645-2.91308S841.287,69.00513,820.119,70.46173l5.95362-6.55447s-14.55289-5.82608-27.78277,9.46746c-6.9547,8.03946-15.00135,17.48947-20.01758,28.13477h-7.79257l3.25232,7.16125L762.34886,115.832l11.68369-1.28631a40.01794,40.01794,0,0,0-.31706,11.87827,15.36888,15.36888,0,0,0,5.62792,10.054h0s9.02412-18.67905,9.02412-21.59213v7.28268s7.27644-6.55438,7.27644-10.92395l3.96893,5.09787,1.98446-8.011,24.47525,8.011-3.96893-6.55438,15.21435,2.18479-5.95362-8.011s17.1988,9.46746,17.86044,17.47844c.66142,8.01086,5.69558,15.60167,5.69558,15.60167S868.40817,99.5923,849.22485,88.66835Z" transform="translate(-118.24522 -62.8178)" fill="#2f2e41"/><ellipse cx="730.3178" cy="56.44164" rx="4.32173" ry="5.40216" fill="#ffb8b8"/><polygon points="178.601 318.118 45.361 318.118 45.361 280.782 114.91 280.782 178.601 318.118" fill="#5850ec"/><path d="M163.24032,375.81141V484.89274H595.9052V375.81141ZM331.987,466.5905H191.42577V451.21662H331.987ZM567.71976,438.039h-376.294V422.66513h376.294Zm0-28.55149h-376.294V394.11364h376.294Z" transform="translate(-118.24522 -62.8178)" fill="#3f3d56"/><polygon points="178.601 141.685 45.361 141.685 45.361 104.348 114.91 104.348 178.601 141.685" fill="#5850ec"/><path d="M163.24032,201.57411V310.65544H595.9052V201.57411ZM331.987,292.35321H191.42577V276.97933H331.987Zm81.26193-28.55149H191.42577V248.42784H413.24888Zm154.47088-28.55149h-376.294V219.87635h376.294Z" transform="translate(-118.24522 -62.8178)" fill="#3f3d56"/><polygon points="178.601 490.891 45.361 490.891 45.361 453.555 114.91 453.555 178.601 490.891" fill="#5850ec"/><path d="M163.24032,546.38825V655.46959H595.9052V546.38825Zm250.00856,90.7791H191.42577V621.79347H413.24888Zm0-28.55149H191.42577V593.242H413.24888Zm154.47088-28.55149h-376.294V564.69049h376.294Z" transform="translate(-118.24522 -62.8178)" fill="#3f3d56"/><polygon points="600.285 223.679 538.789 223.679 538.789 162.183 580.519 162.183 580.519 163.647 540.254 163.647 540.254 222.215 598.821 222.215 598.821 192.931 600.285 192.931 600.285 223.679" fill="#3f3d56"/><path d="M687.46572,270.45629c-1.4211-4.19614-19.242-18.45992-8.3218-20.8574l8.95523,11.94078,41.17216-41.17145,4.14089,4.14088Z" transform="translate(-118.24522 -62.8178)" fill="#5850ec"/><polygon points="600.285 397.916 538.789 397.916 538.789 336.42 580.519 336.42 580.519 337.885 540.254 337.885 540.254 396.452 598.821 396.452 598.821 367.168 600.285 367.168 600.285 397.916" fill="#3f3d56"/><path d="M687.46572,444.69359c-1.4211-4.19614-19.242-18.45992-8.3218-20.8574l8.95523,11.94078,41.17216-41.17145,4.14089,4.14088Z" transform="translate(-118.24522 -62.8178)" fill="#5850ec"/><polygon points="600.285 571.421 538.789 571.421 538.789 509.926 580.519 509.926 580.519 511.39 540.254 511.39 540.254 569.957 598.821 569.957 598.821 540.673 600.285 540.673 600.285 571.421" fill="#3f3d56"/><path d="M687.46572,618.1988c-1.4211-4.19614-19.242-18.45993-8.3218-20.8574l8.95523,11.94078,41.17216-41.17146,4.14089,4.14088Z" transform="translate(-118.24522 -62.8178)" fill="#5850ec"/>
          </svg>
        </div>
      </div>
      
      <div class="relative pt-12 pb-16 px-4 sm:pt-16 sm:px-6 lg:px-8 lg:max-w-7xl lg:mx-auto lg:grid lg:grid-cols-2">
        <div class="lg:col-start-2 lg:pl-2">
          <div class="text-base max-w-prose mx-auto lg:max-w-xl lg:ml-auto lg:mr-0">
            
            <div class="bg-white shadow overflow-hidden sm:rounded-md">
              
              <ul>

                <li>
                  <a href="https://www.hr-technologies.com/" target="_blank" class="block hover:bg-gray-50 focus:outline-none focus:bg-gray-50 transition duration-150 ease-in-out">
                    <div class="px-4 py-4 flex items-center sm:px-6">
                      <div class="min-w-0 flex-1 sm:flex sm:items-center sm:justify-between">
                        <div>
                          <div class="text-sm leading-5 font-medium text-indigo-600 truncate">
                            HR-Technologies
                            <span class="ml-1 font-normal text-gray-500">
                              sr. Web developer/architect/analyst
                            </span>
                          </div>
                          <div class="mt-2 flex">
                            <div class="flex items-center text-sm leading-5 text-gray-500">
                              <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd" />
                              </svg>
                              <span>
                                <time datetime="2017-08-01">2017</time> - ...
                              </span>
                            </div>
                          </div>

                          <div class="mt-8 flex">
                            <div class="grid grid-cols-1 gap-y-1">
                              <div class="mr-6 flex items-center text-xs leading-5 text-gray-500">
                                <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                                  <path fill-rule="evenodd" d="M3 5a2 2 0 012-2h10a2 2 0 012 2v8a2 2 0 01-2 2h-2.22l.123.489.804.804A1 1 0 0113 18H7a1 1 0 01-.707-1.707l.804-.804L7.22 15H5a2 2 0 01-2-2V5zm5.771 7H5V5h10v7H8.771z" clip-rule="evenodd" />
                                </svg>
                                web development
                              </div>
                              <div class="mr-6 flex items-center text-xs leading-5 text-gray-500 sm:mt-0">
                                <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                                  <path d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z" />
                                </svg>
                                team leadership
                              </div>
                              <div class="mr-6 flex items-center text-xs leading-5 text-gray-500 sm:mt-0">
                                <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                                  <path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z" />
                                </svg>
                                functional/technical analysis
                              </div>
                              <div class="mr-6 flex items-center text-xs leading-5 text-gray-500 sm:mt-0">
                                <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                                  <path fill-rule="evenodd" d="M12.316 3.051a1 1 0 01.633 1.265l-4 12a1 1 0 11-1.898-.632l4-12a1 1 0 011.265-.633zM5.707 6.293a1 1 0 010 1.414L3.414 10l2.293 2.293a1 1 0 11-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 0zm8.586 0a1 1 0 011.414 0l3 3a1 1 0 010 1.414l-3 3a1 1 0 11-1.414-1.414L16.586 10l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                                </svg>
                                custom framework (front-end, back-end, database)
                              </div>
                            </div>
                          </div>

                        </div>
                        <div class="mt-4 flex-shrink-0 sm:mt-0">
                          <div class="flex overflow-hidden justify-end">
                            <img class="inline-block h-16 w-16 text-white shadow-solid" src="../assets/logo-hr-technologies.png" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>

                <li class="border-t border-gray-200 mt-8">
                  <a href="http://drgt.com/" target="_blank" class="block hover:bg-gray-50 focus:outline-none focus:bg-gray-50 transition duration-150 ease-in-out">
                    <div class="px-4 py-4 flex items-center sm:px-6">
                      <div class="min-w-0 flex-1 sm:flex sm:items-center sm:justify-between">
                        <div>
                          <div class="text-sm leading-5 font-medium text-purple-600 truncate">
                            DR Gaming Technology
                            <span class="ml-1 font-normal text-gray-500">
                              software developer
                            </span>
                          </div>
                          <div class="mt-2 flex">
                            <div class="flex items-center text-sm leading-5 text-gray-500">
                              <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd" />
                              </svg>
                              <span>
                                <time datetime="2014-07-01">2014</time> - <time datetime="2017-07-01">2017</time>
                              </span>
                            </div>
                          </div>

                          <div class="mt-8 flex">
                            <div class="grid grid-cols-1 gap-y-1">
                              <div class="mr-6 flex items-center text-xs leading-5 text-gray-500">
                                <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                                  <path fill-rule="evenodd" d="M12.316 3.051a1 1 0 01.633 1.265l-4 12a1 1 0 11-1.898-.632l4-12a1 1 0 011.265-.633zM5.707 6.293a1 1 0 010 1.414L3.414 10l2.293 2.293a1 1 0 11-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 0zm8.586 0a1 1 0 011.414 0l3 3a1 1 0 010 1.414l-3 3a1 1 0 11-1.414-1.414L16.586 10l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                                </svg>
                                front-end development
                              </div>
                              <div class="mr-6 flex items-center text-xs leading-5 text-gray-500 sm:mt-0">
                                <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                                  <path fill-rule="evenodd" d="M12.316 3.051a1 1 0 01.633 1.265l-4 12a1 1 0 11-1.898-.632l4-12a1 1 0 011.265-.633zM5.707 6.293a1 1 0 010 1.414L3.414 10l2.293 2.293a1 1 0 11-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 0zm8.586 0a1 1 0 011.414 0l3 3a1 1 0 010 1.414l-3 3a1 1 0 11-1.414-1.414L16.586 10l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                                </svg>
                                basis linux (bash, make)
                              </div>
                              <div class="mr-6 flex items-center text-xs leading-5 text-gray-500 sm:mt-0">
                                <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                                  <path fill-rule="evenodd" d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z" clip-rule="evenodd" />
                                </svg>
                                video/image conversions
                              </div>
                              <div class="mr-6 flex items-center text-xs leading-5 text-gray-500 sm:mt-0">
                                <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                                  <path fill-rule="evenodd" d="M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z" clip-rule="evenodd" />
                                </svg>
                                audio conversions
                              </div>
                            </div>
                          </div>
                          
                        </div>
                        <div class="mt-4 flex-shrink-0 sm:mt-0">
                          <div class="flex overflow-hidden justify-end">
                            <img class="inline-block h-16 w-16 rounded-full text-white shadow-solid" src="../assets/dr-gaming-technology-white.png" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
                
                <li class="border-t border-gray-200 mt-8">
                  <a href="https://www.hr-technologies.com/" target="_blank" class="block hover:bg-gray-50 focus:outline-none focus:bg-gray-50 transition duration-150 ease-in-out">
                    <div class="px-4 py-4 flex items-center sm:px-6">
                      <div class="min-w-0 flex-1 sm:flex sm:items-center sm:justify-between">
                        <div>
                          <div class="text-sm leading-5 font-medium text-indigo-600 truncate">
                            HR-Technologies
                            <span class="ml-1 font-normal text-gray-500">
                              sr. Web developer/architect/analyst
                            </span>
                          </div>
                          <div class="mt-2 flex">
                            <div class="flex items-center text-sm leading-5 text-gray-500">
                              <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd" />
                              </svg>
                              <span>
                                <time datetime="2006-07-01">2006</time> - <time datetime="2014-07-01">2017</time>
                              </span>
                            </div>
                          </div>

                          <div class="mt-8 flex">
                            <div class="grid grid-cols-1 gap-y-1">
                              <div class="mr-6 flex items-center text-xs leading-5 text-gray-500">
                                <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                                  <path fill-rule="evenodd" d="M3 5a2 2 0 012-2h10a2 2 0 012 2v8a2 2 0 01-2 2h-2.22l.123.489.804.804A1 1 0 0113 18H7a1 1 0 01-.707-1.707l.804-.804L7.22 15H5a2 2 0 01-2-2V5zm5.771 7H5V5h10v7H8.771z" clip-rule="evenodd" />
                                </svg>
                                web development
                              </div>
                              <div class="mr-6 flex items-center text-xs leading-5 text-gray-500 sm:mt-0">
                                <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                                  <path d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z" />
                                </svg>
                                team leadership
                              </div>
                              <div class="mr-6 flex items-center text-xs leading-5 text-gray-500 sm:mt-0">
                                <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                                  <path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z" />
                                </svg>
                                functional/technical analysis
                              </div>
                              <div class="mr-6 flex items-center text-xs leading-5 text-gray-500 sm:mt-0">
                                <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                                  <path fill-rule="evenodd" d="M12.316 3.051a1 1 0 01.633 1.265l-4 12a1 1 0 11-1.898-.632l4-12a1 1 0 011.265-.633zM5.707 6.293a1 1 0 010 1.414L3.414 10l2.293 2.293a1 1 0 11-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 0zm8.586 0a1 1 0 011.414 0l3 3a1 1 0 010 1.414l-3 3a1 1 0 11-1.414-1.414L16.586 10l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                                </svg>
                                custom framework (front-end, back-end, database)
                              </div>
                              <div class="mr-6 flex items-center text-xs leading-5 text-gray-500 sm:mt-0">
                                <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                                  <path d="M2 11a1 1 0 011-1h2a1 1 0 011 1v5a1 1 0 01-1 1H3a1 1 0 01-1-1v-5zM8 7a1 1 0 011-1h2a1 1 0 011 1v9a1 1 0 01-1 1H9a1 1 0 01-1-1V7zM14 4a1 1 0 011-1h2a1 1 0 011 1v12a1 1 0 01-1 1h-2a1 1 0 01-1-1V4z" />
                                </svg>
                                custom reporting engine
                              </div>
                              <div class="mr-6 flex items-center text-xs leading-5 text-gray-500 sm:mt-0">
                                <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                                  <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                                </svg>
                                custom search engine
                              </div>
                            </div>
                          </div>

                        </div>
                        <div class="mt-4 flex-shrink-0 sm:mt-0">
                          <div class="flex overflow-hidden justify-end">
                            <img class="inline-block h-16 w-16 text-white shadow-solid" src="../assets/logo-hr-technologies.png" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
                
              </ul>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  
  </div>

</template>

<script>
// import { ref } from 'vue';

export default {
  inheritAttrs: false,
}
</script>