<template>

  <div>

  <teleport 
    to="#my-modal"
  >
    <!-- Start modal -->
    <div 
      class="fixed z-50 inset-0 overflow-y-auto animate-fade-once"
      ref="myproject"
    >

      <div class="flex items-end lg:items-center justify-center min-h-screen py-12 sm:py-8 px-1 text-center">
        <!--
          Background overlay, show/hide based on modal state.

          Entering: "ease-out duration-300"
            From: "opacity-0"
            To: "opacity-100"
          Leaving: "ease-in duration-200"
            From: "opacity-100"
            To: "opacity-0"
        -->
        
        <div 
          @click="router.push({name:'Projects', params:{}})"
          class="fixed inset-0 transition-opacity"
        >
          <div class="absolute inset-0 bg-black opacity-75"></div>
        </div>

        <!-- This element is to trick the browser into centering the modal contents. -->
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span>&#8203;

        <!--
          Modal panel, show/hide based on modal state.

          Entering: "ease-out duration-300"
            From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            To: "opacity-100 translate-y-0 sm:scale-100"
          Leaving: "ease-in duration-200"
            From: "opacity-100 translate-y-0 sm:scale-100"
            To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        -->

        
        <div class="block absolute top-0 right-0 pt-4 pr-4">
          <button 
            type="button" 
            class="text-gray-400 hover:text-gray-200 focus:outline-none focus:text-gray-200 transition ease-in-out duration-150" 
            aria-label="Close"
            @click="router.push({name:'Projects', params:{}})"
          >
            <!-- Heroicon name: x -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>

        <div 
          class="inline-block align-bottom bg-white rounded-lg px-1 pt-2 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-6 sm:align-middle sm:max-w-7xl sm:w-full" 
          role="dialog" 
          aria-modal="true" 
          aria-labelledby="modal-headline"
        >

          
          <div class="relative">
            <div class="hidden lg:block lg:absolute lg:inset-0">
              <div class="lg:absolute lg:inset-y-0 lg:left-0 lg:w-1/2 xl:my-16 xl:px-16">
                <img 
                  class="h-56 w-full object-cover lg:absolute lg:h-full rounded" 
                  :class="imgPositionClass(job)"
                  :src="job.imgUrl" 
                  :alt="job.title"
                >
              </div>
            </div>
            <div class="relative pt-12 pb-16 px-4 sm:pt-16 sm:px-6 lg:px-8 lg:max-w-7xl lg:mx-auto lg:grid lg:grid-cols-2">
              <div class="lg:col-start-2 lg:pl-8">
                <div class="text-base max-w-prose mx-auto lg:max-w-lg lg:ml-auto lg:mr-0">
                  <p 
                    class="leading-6 font-semibold tracking-wide lowercase"
                    :class="(job.cardType === 'app' ? 'text-indigo-600' : 'text-green-600')"
                  >
                    {{ job.cardType }}
                  </p>
                  <h1 class="mt-2 mb-8 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
                    {{ job.title }}
                  </h1>

                  <figure>
                    <img 
                    class="block lg:hidden w-full rounded-lg" 
                    :class="imgPositionClass(job)"
                    :src="job.imgUrl" 
                    :alt="job.title"
                    alt="" 
                    width="1310" 
                    height="873"
                    >
                    <!-- <figcaption>{{ job.title }}</figcaption> -->
                  </figure>
                  
                  <div class="text-lg leading-7 text-gray-500 mb-5">
                    <div class="pt-1 lg:pt-2 flex justify-between items-end">
                        <div class="flex flex-shrink-0">
                          <img class="h-12 w-12 rounded-full" :src="job.logoUrl" alt="">
                        </div>
                        <div class="ml-12 grid grid-cols-2 gap-4 grid-flow-row">
                          <div 
                            class="flex items-center text-sm sm:text-xs leading-5 justify-start text-gray-500 sm:mt-0" 
                            v-for="tag in job.tags" 
                            :key="tag.id"
                          >
                            <div v-html="tag.svg"></div>
                            {{ tag.txt }}
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="mt-2 lg:mt-8 prose text-gray-500" v-html="job.msg"></div>
                </div>


                <div class="flex justify-end mt-8" v-if="!!job.siteUrl">
                  <a 
                    :href="job.siteUrl" 
                    target="_blank" 
                    class="mt-5 flex items-center text-xs text-gray-400"
                    :class="(job.cardType === 'app' ? 'hover:text-indigo-700 focus:text-indigo-700' : 'hover:text-green-700 focus:text-green-700')"
                  >
                    <svg class="flex-shrink-0 mr-1.5 h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
                      <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
                    </svg>
                    <!-- link -->
                  </a>
                </div>

              </div>
            </div>

          </div>

          
          <nav class="sm:mt-16 border-t border-gray-200 px-4 flex items-center justify-between sm:px-0 xl:px-16">
            <div class="w-0 flex-1 flex">
              <a 
                href="#" 
                @click.prevent="first"
                class="-mt-px border-t-2 border-transparent pt-4 pr-1 inline-flex items-center text-sm leading-5 font-medium text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-400 transition ease-in-out duration-150"
                :class="(hasPrev ? '' : 'invisible')"
              >
                <!-- Heroicon name: arrow-narrow-left -->
                <svg class="mr-3 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M15.707 15.707a1 1 0 01-1.414 0l-5-5a1 1 0 010-1.414l5-5a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 010 1.414zm-6 0a1 1 0 01-1.414 0l-5-5a1 1 0 010-1.414l5-5a1 1 0 011.414 1.414L5.414 10l4.293 4.293a1 1 0 010 1.414z" clip-rule="evenodd" />
                </svg>
                <!-- start -->
              </a>
              <a 
                href="#" 
                @click.prevent="prev"
                class="-mt-px border-t-2 border-transparent pt-4 pr-1 inline-flex items-center text-sm leading-5 font-medium text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-400 transition ease-in-out duration-150"
                :class="(hasPrev ? '' : 'invisible')"
              >
                <!-- Heroicon name: arrow-narrow-left -->
                <svg class="mr-3 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />  
                </svg>
                <!-- vorige -->
              </a>
            </div>
            <div class="hidden md:flex">
              <router-link 
                :to="{name:'Projects', params: {}}"
              >
              <a 
                href="#"
                class="-mt-px border-t-2 border-transparent pt-4 px-4 inline-flex items-center text-sm leading-5 font-medium text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-400 transition ease-in-out duration-150"
              >
                terug naar overzicht
              </a>
              </router-link>
            </div>
            <div class="w-0 flex-1 flex justify-end">
              <a 
                href="#" 
                @click.prevent="next"
                class="-mt-px border-t-2 border-transparent pt-4 pl-1 inline-flex items-center text-sm leading-5 font-medium text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-400 transition ease-in-out duration-150"
                :class="(hasNext ? '' : 'invisible')"
              >
                <!-- volgende -->
                <!-- Heroicon name: arrow-narrow-right -->
                <svg class="ml-3 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                </svg>
              </a>
              <a 
                href="#" 
                @click.prevent="last"
                class="-mt-px border-t-2 border-transparent pt-4 pl-1 inline-flex items-center text-sm leading-5 font-medium text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-400 transition ease-in-out duration-150"
                :class="(hasNext ? '' : 'invisible')"
              >
                <!-- laatste -->
                <!-- Heroicon name: arrow-narrow-right -->
                <svg class="ml-3 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M10.293 15.707a1 1 0 010-1.414L14.586 10l-4.293-4.293a1 1 0 111.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                  <path fill-rule="evenodd" d="M4.293 15.707a1 1 0 010-1.414L8.586 10 4.293 5.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                </svg>
              </a>
            </div>
          </nav>
          
        </div>

          
        

      </div>

      

    </div>
    <!-- /End modal -->

  </teleport>

  </div>

</template>

<script>
import { computed, onMounted, ref } from 'vue';
import useJobs from "../composables/jobs";
import useKeydown from '../composables/use-keydown';
import useTouch from '../composables/use-touch';
import { useRouter } from 'vue-router';

export default {
  inheritAttrs: false,
  name: 'Project',
  props: {
    id: {
      type: [Number, String],
      required: true,
    }
  },
  setup(props) {
    const router = useRouter();

    const { jobs, error, load, loadById, selectedJob, selectedIndex, next, prev, last, first, hasNext, hasPrev } = useJobs();

    if (!(typeof jobs !== 'undefined' && jobs.length > 0)) { load(); }
    
    loadById(props.id);

    const imgPositionClass = (myjob) => {
      return (myjob.imgPosition && myjob.imgPosition.includes('top') ? 'object-top' : '') 
        + (myjob.imgPosition && myjob.imgPosition.includes('bottom') ? ' object-bottom' : '');
    }
    
    useKeydown([
      {key: 'Escape', fn: () => { router.push({name:'Projects', params:{}}) }},
      {key: 'ArrowLeft', fn: prev },
      {key: 'ArrowUp', fn: first },
      {key: 'Enter', fn: next },
      {key: 'ArrowRight', fn: next },
      {key: 'ArrowDown', fn: last },
    ])

    const myproject = ref(null);

    onMounted(() => {
      console.log(myproject.value)
      useTouch(
        myproject.value,
        [
          {key:'swiped-right', fn: prev},
          {key:'swiped-left', fn: next},
        ]
      )
    })

    return {
      jobs,
      error,
      job:selectedJob,
      index: selectedIndex,
      imgPositionClass,
      next,
      prev,
      last, 
      first,
      hasNext,
      hasPrev,
      router,
      myproject,
    }
  }
}
</script>
