<template>
  <div 
    id="app" 
    class="h-screen flex overflow-hidden bg-gray-100"
  >

    <!-- Off-canvas menu for mobile -->
    <div 
      class="md:hidden"
    >
      
      <div 
        class="fixed inset-0 flex z-40"
      >

        <!--
          Off-canvas menu overlay, show/hide based on off-canvas menu state.

          Entering: "transition-opacity ease-linear duration-300"
            From: "opacity-0"
            To: "opacity-100"
          Leaving: "transition-opacity ease-linear duration-300"
            From: "opacity-100"
            To: "opacity-0"
        -->
        <div 
          v-show="menuIsOpen"
          class="fixed inset-0" 
        >
          <div class="absolute inset-0 bg-gray-600 opacity-75"></div>
        </div>

        <!--
          Off-canvas menu, show/hide based on off-canvas menu state.

          Entering: "transition ease-in-out duration-300 transform"
            From: "-translate-x-full"
            To: "translate-x-0"
          Leaving: "transition ease-in-out duration-300 transform"
            From: "translate-x-0"
            To: "-translate-x-full"
        -->
        
        <div 
          v-show="menuIsOpen"
          class="relative flex-1 flex flex-col max-w-xs w-full bg-gray-800"
        >
          <div class="absolute top-0 right-0 -mr-14 p-1">
            <button 
              @click.prevent="closeMenu"
              class="flex items-center justify-center h-12 w-12 rounded-full focus:outline-none focus:bg-gray-600" 
              aria-label="Close sidebar"
            >
              <svg class="h-6 w-6 text-white" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>

          <div class="flex-1 h-0 pt-5 pb-4 overflow-y-auto">

            <div class="flex-shrink-0 flex items-center px-4 justify-center">
              <!-- <img 
                class="h-8 w-auto" 
                src="https://tailwindui.com/img/logos/workflow-logo-on-dark.svg" 
                alt="Workflow"
              > -->
              <svg 
                class="h-auto w-48" 
                viewBox="0 0 925.25 687.323"
              >
                <path fill="#3f3d56" d="M68.941 48.33H868.75v511.726H68.941z"/><path fill="#f2f2f2" d="M485.903 140.725h360.104v418.857H485.903z"/><path d="M36.665 531.42c10.946 20.298 34.175 29.012 34.175 29.012s5.484-24.196-5.461-44.495-34.175-29.012-34.175-29.012-5.484 24.197 5.461 44.495z" fill="#3f3d56"/><path d="M44.188 524.742c19.76 11.889 27.371 35.503 27.371 35.503s-24.427 4.339-44.188-7.55S0 517.192 0 517.192s24.428-4.339 44.188 7.55z" fill="#6c63ff"/><path fill="#fff" d="M607.702 179.698h218.403v8.807H607.702zM607.702 199.073h218.403v8.807H607.702zM607.702 218.447h73.975v8.807h-73.975zM159.218 444.09h218.403v8.807H159.218zM159.218 463.465h218.403v8.807H159.218zM159.218 482.839h73.975v8.807h-73.975zM556.53 287.729h218.403v8.807H556.53zM556.53 307.104h218.403v8.807H556.53zM556.53 326.057h218.403v8.807H556.53zM556.53 345.01h218.403v8.807H556.53zM556.53 363.962h218.403v8.807H556.53zM556.53 382.915h218.403v8.807H556.53zM556.53 401.868h218.403v8.807H556.53zM556.53 420.821h218.403v8.807H556.53zM556.53 439.774h218.403v8.807H556.53zM556.53 458.726h218.403v8.807H556.53zM556.53 477.679h218.403v8.807H556.53z"/><path d="M348.002 304.06a79.386 79.386 0 01-29.538 61.872 78.463 78.463 0 01-10.888 7.42 76.938 76.938 0 01-7.126 3.572 78.803 78.803 0 01-25.483 6.454q-3.24.27-6.548.265a78.642 78.642 0 01-13.02-1.07 63.725 63.725 0 01-4.492-.873 76.559 76.559 0 01-7.648-2.122 79.4 79.4 0 01-27.927-16.243 72.431 72.431 0 01-5.922-5.894 79.576 79.576 0 11138.592-53.38zM584.761 215.283c.113 25.471-14.99 34.431-33.668 34.514q-.65.003-1.295-.009-1.299-.022-2.57-.107c-16.863-1.118-30.002-10.41-30.108-34.098-.108-24.515 31.086-55.591 33.425-57.89l.005-.001.134-.132s33.964 32.253 34.077 57.723z" fill="#6c63ff"/><path d="M549.845 245.906l12.293-17.337-12.316 19.235-.024 1.984q-1.299-.022-2.57-.107l1.22-25.488-.012-.197.023-.037.116-2.409-12.518-19.172 12.547 17.368.033.51.922-19.256-10.73-19.822 10.845 16.438.872-39.922.003-.133v.13l-.034 31.48 10.537-12.526-10.57 15.238-.204 17.24 9.821-16.588-9.85 19.123-.113 9.586 14.258-23.092-14.299 26.437zM868.276 272.447a132.67 132.67 0 00-132.67 132.67 38.853 38.853 0 01-38.853 38.853h-64.44a115.612 115.612 0 00-115.612 115.612h351.575V272.447z" fill="#3f3d56"/><path fill="#2f2e41" d="M459.843 48.33h17.058v511.726h-17.058z"/><path d="M303.008 40.749V27.482a27.482 27.482 0 00-54.963 0v13.267h-52.12v29.376h159.204V40.75zM275.527 7.58a16.11 16.11 0 11-16.11 16.11 16.11 16.11 0 0116.11-16.11z" fill="#6c63ff"/><path d="M282.55 298.809s-7.915 22.529-3.044 25.995-16.44 31.772-16.44 31.772l-25.573-6.932 14.004-23.685s1.827-23.684 1.827-27.15 29.227 0 29.227 0z" fill="#ffb8b8"/><path d="M282.55 298.809s-7.915 22.529-3.044 25.995-16.44 31.772-16.44 31.772l-25.573-6.932 14.004-23.685s1.827-23.684 1.827-27.15 29.227 0 29.227 0z" opacity=".1"/><circle cx="266.376" cy="294.765" r="20.796" fill="#ffb8b8"/><path d="M250.907 381.7a76.559 76.559 0 01-7.647-2.122l3.98-27.292 1.232-8.415 6.31 2.369c.854.312 1.82.682 2.93 1.09a6.657 6.657 0 005.287-.19c6.103-2.796 9.732-13.675 9.732-13.675s.247 3.052.569 8.216c.578 9.07 1.412 24.668 1.668 41.697q-3.241.27-6.549.265a78.642 78.642 0 01-13.02-1.07 63.693 63.693 0 01-4.492-.873z" fill="#d0cde1"/><path d="M256.555 330.007l-1.772 16.233-.863 7.856-3.013 27.604a76.559 76.559 0 01-7.647-2.122 79.4 79.4 0 01-27.927-16.243l-3.838-13.693a16.195 16.195 0 01.246-2.436.035.035 0 01.01-.028 17.22 17.22 0 01.473-2.123.073.073 0 00.01-.028 15.732 15.732 0 013.885-6.937c4.625-4.625 35.233-19.067 35.233-19.067l.578 1.213z" fill="#d0cde1"/><path d="M265.933 265.374c4.61-.164 9.544-.246 13.43 2.238a19.663 19.663 0 014.643 4.544c3.785 4.786 7.057 10.808 5.65 16.746l-1.633-.637a10.695 10.695 0 001.032 4.582c-.23-.669-1 .412-.794 1.089l1.799 5.902a5.557 5.557 0 00-7.087 4.23c-.206-6.857-.917-14.718-6.478-18.732-2.805-2.025-6.355-2.643-9.77-3.192-3.15-.506-6.453-.989-9.47.049s-5.588 4.123-4.904 7.24a3.225 3.225 0 00-3.635 1.791 9.41 9.41 0 00-.745 4.308c-1.483 1.048-3.17-1.034-3.775-2.746-1.419-4.02-2.68-8.3-1.916-12.494s4.182-8.202 8.445-8.216a2.96 2.96 0 01-.77-2.084l3.514-.297a3.884 3.884 0 01-2.32-1.224c1.41 1.553 12.503-3.015 14.784-3.097z" fill="#2f2e41"/><path d="M314.323 345.027c-.54 4.33-3.63 16.564-6.747 28.325a76.938 76.938 0 01-7.126 3.572 78.803 78.803 0 01-25.482 6.454q-3.241.27-6.549.265a78.642 78.642 0 01-13.02-1.07c1.61-6.217 3.78-16.461 5.809-26.497a1668.55 1668.55 0 001.79-8.936c2.228-11.353 3.952-20.602 3.952-20.602s6.918-6.785 11.022-8.358a3.556 3.556 0 011.772-.294c3.383.56 8.007 8.652 8.007 8.652s20.754 6.918 25.605 14.774a5.748 5.748 0 01.967 3.715zM226.515 345.027l-1.213 25.927a78.773 78.773 0 01-9.97-7.619 72.431 72.431 0 01-5.922-5.894c.995-4.369 1.829-8.046 2.33-10.235a.035.035 0 01.01-.028c.266-1.213.436-1.962.474-2.123a.073.073 0 00.01-.028z" fill="#d0cde1"/><path d="M318.464 365.932a78.463 78.463 0 01-10.888 7.42 76.938 76.938 0 01-7.126 3.572l-2.303-13.418 2.312-25.416 12.897 3.222.967.246z" fill="#d0cde1"/><path d="M865.25 410.501s-9 44 6 40 9-42 9-42z" fill="#a0616a"/><path d="M907.25 228.501h-10s-11 8-10 17-18 87-18 97-4 13-4 19 2 10 0 13-6 21-5 28a56.394 56.394 0 010 14h25s18-61 22-64 6-8 6-11-2-3 3-7 2-22 2-22l7-18z" fill="#d0cde1"/><path d="M907.25 228.501h-10s-11 8-10 17-18 87-18 97-4 13-4 19 2 10 0 13-6 21-5 28a56.394 56.394 0 010 14h25s18-61 22-64 6-8 6-11-2-3 3-7 2-22 2-22l7-18z" opacity=".1"/><path d="M767.25 386.001s-9 44 6 40 9-42 9-42zM770.25 591.001l-6 25 22 14 6-30-22-9zM874.25 622.001l-11 15 13 15h18v-30h-20z" fill="#a0616a"/><path d="M897.25 639.001h-6a22.578 22.578 0 00-9 0c-6 1-14.142-8.625-14.142-8.625l-7.858 6.625s-16 4-8 23l18 11s9 19 27 16 5-23 5-23zM770.25 604.001l-1.521-6.661L755.25 601s-28-18-28 6 22 32 22 32 8-1 8 6 21 18 29 14 8-14 8-14l-2-28-9 2s-17-1-14-5 1-10 1-10z" fill="#2f2e41"/><path d="M799.25 374.001s-12 16-12 25-4 89-4 89-22 102-16 108 24 15 27 12 24-112 24-112l25-67 23 96s-1 83 3 84 6 2 4 6-5 12-5 12 25 6 30 2 6-101 0-135 1-112 1-112z" fill="#2f2e41"/><circle cx="835.75" cy="150.501" r="30" fill="#a0616a"/><path d="M826.75 169.501s4 21 0 27 54 2 54 2-28-32-25-38-29 9-29 9z" fill="#a0616a"/><path d="M801.25 204.001s20-26 45-21c6.75 1.35 12.916 2.7 18.322 3.952 19.049 4.41 34.89 17.985 41.397 36.423 1.687 4.782 2.531 9.375 1.781 13.125-3 15-1.5 133.5-1.5 133.5s-8 3-7 7 8 9 1 9-113-4-111-7 12-175 12-175z" fill="#d0cde1"/><path d="M811.25 204.001h-10s-11 8-10 17-18 87-18 97-4 13-4 19 2 10 0 13-6 21-5 28a56.394 56.394 0 010 14h25s18-61 22-64 6-8 6-11-2-3 3-7 2-22 2-22l7-18z" fill="#d0cde1"/><path opacity=".1" d="M796.671 377.682l30.079-66.181-15.039 70.384-15.04-4.203z"/><path d="M825.284 105.134l.016-2.475a19.304 19.304 0 016.206.217 10.079 10.079 0 00-.907-4.335 19.62 19.62 0 015.934 1.767l.69-4.598 17.91 6.277c6.43 2.253 13.225 4.762 17.398 10.147 4.652 6.004 4.989 14.405 3.203 21.787s-5.418 14.165-8.129 21.26a50.28 50.28 0 01-3.805 8.747c-5.414 8.726-17.636 11.84-27.213 8.133-3.534-1.368-6.871-3.65-8.662-6.99a51.875 51.875 0 01-2.335-6.375c-1.665-4.41-4.095-13.633-8.135-16.06-1.778-1.068-4.489 3.517-6.024 2.123-3.945-3.584-3.968-9.846-2.407-14.941a110.34 110.34 0 015.503-14.94c.94-1.954 10.76-10.04 10.757-9.744z" fill="#2f2e41"/>
              </svg>
            </div>

            <nav class="mt-5 px-2 space-y-1">

              <router-link 
                :to="{name:'Cv'}"
                v-slot="{isActive}"
              >
                <a 
                  @click.native="closeMenu"
                  href="#" 
                  class="group flex items-center px-2 py-2 text-base leading-6 font-medium rounded-md transition ease-in-out duration-150"
                  :class="[isActive ? 'text-white bg-gray-900 focus:outline-none focus:bg-gray-700' : 'text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700']"
                >
                  <svg 
                    class="mr-4 h-6 w-6 transition ease-in-out duration-150" 
                    :class="[isActive ? 'text-gray-300 group-hover:text-gray-300 group-focus:text-gray-300' : 'text-gray-400 group-hover:text-gray-300 group-focus:text-gray-300']"
                    fill="none" 
                    viewBox="0 0 24 24" 
                    stroke="currentColor"
                  >
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
                  <span>
                    Wie ben ik
                  </span>
                </a>
              </router-link>

              <router-link 
                :to="{name:'Skills'}"
                v-slot="{isActive}"
              >
                <a 
                  @click.native="closeMenu"
                  href="#" 
                  class="group flex items-center px-2 py-2 text-base leading-6 font-medium rounded-md transition ease-in-out duration-150"
                  :class="[isActive ? 'text-white bg-gray-900 focus:outline-none focus:bg-gray-700' : 'text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700']"
                >
                  <svg 
                    class="mr-4 h-6 w-6 transition ease-in-out duration-150" 
                    :class="[isActive ? 'text-gray-300 group-hover:text-gray-300 group-focus:text-gray-300' : 'text-gray-400 group-hover:text-gray-300 group-focus:text-gray-300']"
                    fill="none" 
                    viewBox="0 0 24 24" 
                    stroke="currentColor"
                  >
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-6 9l2 2 4-4" />
                  </svg>
                  <span>
                    Vaardigheden
                  </span>
                </a>
              </router-link>

              <router-link 
                :to="{name:'Tech'}"
                v-slot="{isActive}"
              >
                <a 
                  @click.native="closeMenu"
                  href="#" 
                  class="group flex items-center px-2 py-2 text-base leading-6 font-medium rounded-md transition ease-in-out duration-150"
                  :class="[isActive ? 'text-white bg-gray-900 focus:outline-none focus:bg-gray-700' : 'text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700']"
                >
                  <svg 
                    class="mr-4 h-6 w-6 transition ease-in-out duration-150" 
                    :class="[isActive ? 'text-gray-300 group-hover:text-gray-300 group-focus:text-gray-300' : 'text-gray-400 group-hover:text-gray-300 group-focus:text-gray-300']"
                    fill="none" 
                    viewBox="0 0 24 24" 
                    stroke="currentColor"
                  >
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4" />
                  </svg>
                  <span>
                    Technologie
                  </span>
                </a>
              </router-link>

              <router-link 
                :to="{name:'Edu'}"
                v-slot="{isActive}"
              >
                <a 
                  @click.native="closeMenu"
                  href="#" 
                  class="group flex items-center px-2 py-2 text-base leading-6 font-medium rounded-md transition ease-in-out duration-150"
                  :class="[isActive ? 'text-white bg-gray-900 focus:outline-none focus:bg-gray-700' : 'text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700']"
                >
                  <svg 
                    class="mr-4 h-6 w-6 transition ease-in-out duration-150" 
                    :class="[isActive ? 'text-gray-300 group-hover:text-gray-300 group-focus:text-gray-300' : 'text-gray-400 group-hover:text-gray-300 group-focus:text-gray-300']"
                    fill="none" 
                    viewBox="0 0 24 24" 
                    stroke="currentColor"
                  >
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 14v3m4-3v3m4-3v3M3 21h18M3 10h18M3 7l9-4 9 4M4 10h16v11H4V10z" />
                  </svg>
                  <span>
                    Opleiding
                  </span>
                </a>
              </router-link>

              <router-link 
                :to="{name:'Xp'}"
                v-slot="{isActive}"
              >
                <a 
                  @click.native="closeMenu"
                  href="#" 
                  class="group flex items-center px-2 py-2 text-base leading-6 font-medium rounded-md transition ease-in-out duration-150"
                  :class="[isActive ? 'text-white bg-gray-900 focus:outline-none focus:bg-gray-700' : 'text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700']"
                >
                  <svg 
                    class="mr-4 h-6 w-6 transition ease-in-out duration-150" 
                    :class="[isActive ? 'text-gray-300 group-hover:text-gray-300 group-focus:text-gray-300' : 'text-gray-400 group-hover:text-gray-300 group-focus:text-gray-300']"
                    fill="none" 
                    viewBox="0 0 24 24" 
                    stroke="currentColor"
                  >
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                  </svg>
                  <span>
                    Ervaring
                  </span>
                </a>
              </router-link>

              <router-link 
                :to="{name:'Projects'}"
                v-slot="{isActive}"
              >
                <a 
                  @click.native="closeMenu"
                  href="#" 
                  class="group flex items-center px-2 py-2 text-base leading-6 font-medium rounded-md transition ease-in-out duration-150"
                  :class="[isActive ? 'text-white bg-gray-900 focus:outline-none focus:bg-gray-700' : 'text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700']"
                >
                  <svg 
                    class="mr-4 h-6 w-6 transition ease-in-out duration-150" 
                    :class="[isActive ? 'text-gray-300 group-hover:text-gray-300 group-focus:text-gray-300' : 'text-gray-400 group-hover:text-gray-300 group-focus:text-gray-300']"
                    fill="none" 
                    viewBox="0 0 24 24" 
                    stroke="currentColor"
                  >
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                  </svg>
                  <span>
                    Projecten
                  </span>
                </a>
              </router-link>

            </nav>
          </div>
          <div class="flex-shrink-0 flex bg-white p-4">
            <a href="https://be.linkedin.com/in/bartmonbaliu" target="_blank" class="flex-shrink-0 group block">
              <div class="flex items-center">
                <div>
                    <svg 
                      class="inline-block h-10 w-10" 
                      viewBox="0 0 76.624 65.326" 
                      fill="#0a66c2"
                    >
                      <path 
                        data-name="Path 2520" 
                        d="M55.204 55.204h-9.6V40.17c0-3.585-.064-8.2-4.993-8.2-5 0-5.765 3.906-5.765 7.939v15.294h-9.6V24.287h9.216v4.225h.129a10.1 10.1 0 019.093-4.994c9.73 0 11.524 6.4 11.524 14.726zm-40.79-35.143a5.571 5.571 0 115.57-5.572 5.571 5.571 0 01-5.57 5.572m4.8 35.143h-9.61V24.287h9.61zM59.99.004H4.78a4.728 4.728 0 00-4.781 4.67v55.439a4.731 4.731 0 004.781 4.675h55.21a4.741 4.741 0 004.8-4.675V4.67A4.738 4.738 0 0059.99 0"
                      />
                    </svg>
                </div>
                <div class="ml-3">
                  <p class="text-base leading-6 font-medium text-gray-900">
                    Bart Monbaliu
                  </p>
                  <p class="text-sm leading-5 font-medium text-gray-400 group-hover:text-gray-600 transition ease-in-out duration-150">
                    LinkedIn profiel
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
        
        <div
          class="flex-shrink-0 w-14"
        >
          <!-- Force sidebar to shrink to fit close icon -->
        </div>
      </div>
      
    </div>

    <!-- Static sidebar for desktop -->
    <div class="hidden md:flex md:flex-shrink-0">
      <div class="flex flex-col w-64">

        <!-- Sidebar component, swap this element with another sidebar if you like -->
        <div class="flex flex-col h-0 flex-1 bg-gradient-to-br from-gray-800 to-gray-700">
          <div class="flex-1 flex flex-col pt-5 pb-4 overflow-y-auto">
            
            <div class="flex items-center flex-shrink-0 px-4">
              <!-- <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-logo-on-dark.svg" alt="Workflow"> -->
              <svg 
                class="h-auto w-48" 
                viewBox="0 0 925.25 687.323"
              >
                <path fill="#3f3d56" d="M68.941 48.33H868.75v511.726H68.941z"/><path fill="#f2f2f2" d="M485.903 140.725h360.104v418.857H485.903z"/><path d="M36.665 531.42c10.946 20.298 34.175 29.012 34.175 29.012s5.484-24.196-5.461-44.495-34.175-29.012-34.175-29.012-5.484 24.197 5.461 44.495z" fill="#3f3d56"/><path d="M44.188 524.742c19.76 11.889 27.371 35.503 27.371 35.503s-24.427 4.339-44.188-7.55S0 517.192 0 517.192s24.428-4.339 44.188 7.55z" fill="#6c63ff"/><path fill="#fff" d="M607.702 179.698h218.403v8.807H607.702zM607.702 199.073h218.403v8.807H607.702zM607.702 218.447h73.975v8.807h-73.975zM159.218 444.09h218.403v8.807H159.218zM159.218 463.465h218.403v8.807H159.218zM159.218 482.839h73.975v8.807h-73.975zM556.53 287.729h218.403v8.807H556.53zM556.53 307.104h218.403v8.807H556.53zM556.53 326.057h218.403v8.807H556.53zM556.53 345.01h218.403v8.807H556.53zM556.53 363.962h218.403v8.807H556.53zM556.53 382.915h218.403v8.807H556.53zM556.53 401.868h218.403v8.807H556.53zM556.53 420.821h218.403v8.807H556.53zM556.53 439.774h218.403v8.807H556.53zM556.53 458.726h218.403v8.807H556.53zM556.53 477.679h218.403v8.807H556.53z"/><path d="M348.002 304.06a79.386 79.386 0 01-29.538 61.872 78.463 78.463 0 01-10.888 7.42 76.938 76.938 0 01-7.126 3.572 78.803 78.803 0 01-25.483 6.454q-3.24.27-6.548.265a78.642 78.642 0 01-13.02-1.07 63.725 63.725 0 01-4.492-.873 76.559 76.559 0 01-7.648-2.122 79.4 79.4 0 01-27.927-16.243 72.431 72.431 0 01-5.922-5.894 79.576 79.576 0 11138.592-53.38zM584.761 215.283c.113 25.471-14.99 34.431-33.668 34.514q-.65.003-1.295-.009-1.299-.022-2.57-.107c-16.863-1.118-30.002-10.41-30.108-34.098-.108-24.515 31.086-55.591 33.425-57.89l.005-.001.134-.132s33.964 32.253 34.077 57.723z" fill="#6c63ff"/><path d="M549.845 245.906l12.293-17.337-12.316 19.235-.024 1.984q-1.299-.022-2.57-.107l1.22-25.488-.012-.197.023-.037.116-2.409-12.518-19.172 12.547 17.368.033.51.922-19.256-10.73-19.822 10.845 16.438.872-39.922.003-.133v.13l-.034 31.48 10.537-12.526-10.57 15.238-.204 17.24 9.821-16.588-9.85 19.123-.113 9.586 14.258-23.092-14.299 26.437zM868.276 272.447a132.67 132.67 0 00-132.67 132.67 38.853 38.853 0 01-38.853 38.853h-64.44a115.612 115.612 0 00-115.612 115.612h351.575V272.447z" fill="#3f3d56"/><path fill="#2f2e41" d="M459.843 48.33h17.058v511.726h-17.058z"/><path d="M303.008 40.749V27.482a27.482 27.482 0 00-54.963 0v13.267h-52.12v29.376h159.204V40.75zM275.527 7.58a16.11 16.11 0 11-16.11 16.11 16.11 16.11 0 0116.11-16.11z" fill="#6c63ff"/><path d="M282.55 298.809s-7.915 22.529-3.044 25.995-16.44 31.772-16.44 31.772l-25.573-6.932 14.004-23.685s1.827-23.684 1.827-27.15 29.227 0 29.227 0z" fill="#ffb8b8"/><path d="M282.55 298.809s-7.915 22.529-3.044 25.995-16.44 31.772-16.44 31.772l-25.573-6.932 14.004-23.685s1.827-23.684 1.827-27.15 29.227 0 29.227 0z" opacity=".1"/><circle cx="266.376" cy="294.765" r="20.796" fill="#ffb8b8"/><path d="M250.907 381.7a76.559 76.559 0 01-7.647-2.122l3.98-27.292 1.232-8.415 6.31 2.369c.854.312 1.82.682 2.93 1.09a6.657 6.657 0 005.287-.19c6.103-2.796 9.732-13.675 9.732-13.675s.247 3.052.569 8.216c.578 9.07 1.412 24.668 1.668 41.697q-3.241.27-6.549.265a78.642 78.642 0 01-13.02-1.07 63.693 63.693 0 01-4.492-.873z" fill="#d0cde1"/><path d="M256.555 330.007l-1.772 16.233-.863 7.856-3.013 27.604a76.559 76.559 0 01-7.647-2.122 79.4 79.4 0 01-27.927-16.243l-3.838-13.693a16.195 16.195 0 01.246-2.436.035.035 0 01.01-.028 17.22 17.22 0 01.473-2.123.073.073 0 00.01-.028 15.732 15.732 0 013.885-6.937c4.625-4.625 35.233-19.067 35.233-19.067l.578 1.213z" fill="#d0cde1"/><path d="M265.933 265.374c4.61-.164 9.544-.246 13.43 2.238a19.663 19.663 0 014.643 4.544c3.785 4.786 7.057 10.808 5.65 16.746l-1.633-.637a10.695 10.695 0 001.032 4.582c-.23-.669-1 .412-.794 1.089l1.799 5.902a5.557 5.557 0 00-7.087 4.23c-.206-6.857-.917-14.718-6.478-18.732-2.805-2.025-6.355-2.643-9.77-3.192-3.15-.506-6.453-.989-9.47.049s-5.588 4.123-4.904 7.24a3.225 3.225 0 00-3.635 1.791 9.41 9.41 0 00-.745 4.308c-1.483 1.048-3.17-1.034-3.775-2.746-1.419-4.02-2.68-8.3-1.916-12.494s4.182-8.202 8.445-8.216a2.96 2.96 0 01-.77-2.084l3.514-.297a3.884 3.884 0 01-2.32-1.224c1.41 1.553 12.503-3.015 14.784-3.097z" fill="#2f2e41"/><path d="M314.323 345.027c-.54 4.33-3.63 16.564-6.747 28.325a76.938 76.938 0 01-7.126 3.572 78.803 78.803 0 01-25.482 6.454q-3.241.27-6.549.265a78.642 78.642 0 01-13.02-1.07c1.61-6.217 3.78-16.461 5.809-26.497a1668.55 1668.55 0 001.79-8.936c2.228-11.353 3.952-20.602 3.952-20.602s6.918-6.785 11.022-8.358a3.556 3.556 0 011.772-.294c3.383.56 8.007 8.652 8.007 8.652s20.754 6.918 25.605 14.774a5.748 5.748 0 01.967 3.715zM226.515 345.027l-1.213 25.927a78.773 78.773 0 01-9.97-7.619 72.431 72.431 0 01-5.922-5.894c.995-4.369 1.829-8.046 2.33-10.235a.035.035 0 01.01-.028c.266-1.213.436-1.962.474-2.123a.073.073 0 00.01-.028z" fill="#d0cde1"/><path d="M318.464 365.932a78.463 78.463 0 01-10.888 7.42 76.938 76.938 0 01-7.126 3.572l-2.303-13.418 2.312-25.416 12.897 3.222.967.246z" fill="#d0cde1"/><path d="M865.25 410.501s-9 44 6 40 9-42 9-42z" fill="#a0616a"/><path d="M907.25 228.501h-10s-11 8-10 17-18 87-18 97-4 13-4 19 2 10 0 13-6 21-5 28a56.394 56.394 0 010 14h25s18-61 22-64 6-8 6-11-2-3 3-7 2-22 2-22l7-18z" fill="#d0cde1"/><path d="M907.25 228.501h-10s-11 8-10 17-18 87-18 97-4 13-4 19 2 10 0 13-6 21-5 28a56.394 56.394 0 010 14h25s18-61 22-64 6-8 6-11-2-3 3-7 2-22 2-22l7-18z" opacity=".1"/><path d="M767.25 386.001s-9 44 6 40 9-42 9-42zM770.25 591.001l-6 25 22 14 6-30-22-9zM874.25 622.001l-11 15 13 15h18v-30h-20z" fill="#a0616a"/><path d="M897.25 639.001h-6a22.578 22.578 0 00-9 0c-6 1-14.142-8.625-14.142-8.625l-7.858 6.625s-16 4-8 23l18 11s9 19 27 16 5-23 5-23zM770.25 604.001l-1.521-6.661L755.25 601s-28-18-28 6 22 32 22 32 8-1 8 6 21 18 29 14 8-14 8-14l-2-28-9 2s-17-1-14-5 1-10 1-10z" fill="#2f2e41"/><path d="M799.25 374.001s-12 16-12 25-4 89-4 89-22 102-16 108 24 15 27 12 24-112 24-112l25-67 23 96s-1 83 3 84 6 2 4 6-5 12-5 12 25 6 30 2 6-101 0-135 1-112 1-112z" fill="#2f2e41"/><circle cx="835.75" cy="150.501" r="30" fill="#a0616a"/><path d="M826.75 169.501s4 21 0 27 54 2 54 2-28-32-25-38-29 9-29 9z" fill="#a0616a"/><path d="M801.25 204.001s20-26 45-21c6.75 1.35 12.916 2.7 18.322 3.952 19.049 4.41 34.89 17.985 41.397 36.423 1.687 4.782 2.531 9.375 1.781 13.125-3 15-1.5 133.5-1.5 133.5s-8 3-7 7 8 9 1 9-113-4-111-7 12-175 12-175z" fill="#d0cde1"/><path d="M811.25 204.001h-10s-11 8-10 17-18 87-18 97-4 13-4 19 2 10 0 13-6 21-5 28a56.394 56.394 0 010 14h25s18-61 22-64 6-8 6-11-2-3 3-7 2-22 2-22l7-18z" fill="#d0cde1"/><path opacity=".1" d="M796.671 377.682l30.079-66.181-15.039 70.384-15.04-4.203z"/><path d="M825.284 105.134l.016-2.475a19.304 19.304 0 016.206.217 10.079 10.079 0 00-.907-4.335 19.62 19.62 0 015.934 1.767l.69-4.598 17.91 6.277c6.43 2.253 13.225 4.762 17.398 10.147 4.652 6.004 4.989 14.405 3.203 21.787s-5.418 14.165-8.129 21.26a50.28 50.28 0 01-3.805 8.747c-5.414 8.726-17.636 11.84-27.213 8.133-3.534-1.368-6.871-3.65-8.662-6.99a51.875 51.875 0 01-2.335-6.375c-1.665-4.41-4.095-13.633-8.135-16.06-1.778-1.068-4.489 3.517-6.024 2.123-3.945-3.584-3.968-9.846-2.407-14.941a110.34 110.34 0 015.503-14.94c.94-1.954 10.76-10.04 10.757-9.744z" fill="#2f2e41"/>
              </svg>
            </div>

            <nav class="mt-5 flex-1 px-2 space-y-1">

              <router-link 
                :to="{name:'Cv'}"
                v-slot="{isActive}"
              >
                <a 
                  href="#" 
                  class="group flex items-center px-2 py-2 text-sm leading-5 font-medium rounded-md transition ease-in-out duration-150"
                  :class="[isActive ? 'text-white bg-gray-900 focus:outline-none focus:bg-gray-700' : 'text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700']"
                >
                  <svg 
                    class="mr-3 h-6 w-6 transition ease-in-out duration-150" 
                    :class="[isActive ? 'text-gray-300 group-hover:text-gray-300 group-focus:text-gray-300' : 'text-gray-400 group-hover:text-gray-300 group-focus:text-gray-300']"
                    fill="none" 
                    viewBox="0 0 24 24" 
                    stroke="currentColor"
                  >
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
                  <span>
                    Wie ben ik
                  </span>
                </a>
              </router-link>

              <router-link 
                :to="{name:'Skills'}"
                v-slot="{isActive}"
              >
                <a 
                  href="#" 
                  class="group flex items-center px-2 py-2 text-sm leading-5 font-medium rounded-md transition ease-in-out duration-150"
                  :class="[isActive ? 'text-white bg-gray-900 focus:outline-none focus:bg-gray-700' : 'text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700']"
                >
                  <svg 
                    class="mr-3 h-6 w-6 transition ease-in-out duration-150" 
                    :class="[isActive ? 'text-gray-300 group-hover:text-gray-300 group-focus:text-gray-300' : 'text-gray-400 group-hover:text-gray-300 group-focus:text-gray-300']"
                    fill="none" 
                    viewBox="0 0 24 24" 
                    stroke="currentColor"
                  >
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-6 9l2 2 4-4" />
                  </svg>
                  <span>
                    Vaardigheden
                  </span>
                </a>
              </router-link>

              <router-link 
                :to="{name:'Tech'}"
                v-slot="{isActive}"
              >
                <a 
                  href="#" 
                  class="group flex items-center px-2 py-2 text-sm leading-5 font-medium rounded-md transition ease-in-out duration-150"
                  :class="[isActive ? 'text-white bg-gray-900 focus:outline-none focus:bg-gray-700' : 'text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700']"
                >
                  <svg 
                    class="mr-3 h-6 w-6 transition ease-in-out duration-150" 
                    :class="[isActive ? 'text-gray-300 group-hover:text-gray-300 group-focus:text-gray-300' : 'text-gray-400 group-hover:text-gray-300 group-focus:text-gray-300']"
                    fill="none" 
                    viewBox="0 0 24 24" 
                    stroke="currentColor"
                  >
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4" />
                  </svg>
                  <span>
                    Technologie
                  </span>
                </a>
              </router-link>

              <router-link 
                :to="{name:'Edu'}"
                v-slot="{isActive}"
              >
                <a 
                  href="#" 
                  class="group flex items-center px-2 py-2 text-sm leading-5 font-medium rounded-md transition ease-in-out duration-150"
                  :class="[isActive ? 'text-white bg-gray-900 focus:outline-none focus:bg-gray-700' : 'text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700']"
                >
                  <svg 
                    class="mr-3 h-6 w-6 transition ease-in-out duration-150" 
                    :class="[isActive ? 'text-gray-300 group-hover:text-gray-300 group-focus:text-gray-300' : 'text-gray-400 group-hover:text-gray-300 group-focus:text-gray-300']"
                    fill="none" 
                    viewBox="0 0 24 24" 
                    stroke="currentColor"
                  >
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 14v3m4-3v3m4-3v3M3 21h18M3 10h18M3 7l9-4 9 4M4 10h16v11H4V10z" />
                  </svg>
                  <span>
                    Opleiding
                  </span>
                </a>
              </router-link>

              <router-link 
                :to="{name:'Xp'}"
                v-slot="{isActive}"
              >
                <a 
                  href="#" 
                  class="group flex items-center px-2 py-2 text-sm leading-5 font-medium rounded-md transition ease-in-out duration-150"
                  :class="[isActive ? 'text-white bg-gray-900 focus:outline-none focus:bg-gray-700' : 'text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700']"
                >
                  <svg 
                    class="mr-3 h-6 w-6 transition ease-in-out duration-150" 
                    :class="[isActive ? 'text-gray-300 group-hover:text-gray-300 group-focus:text-gray-300' : 'text-gray-400 group-hover:text-gray-300 group-focus:text-gray-300']"
                    fill="none" 
                    viewBox="0 0 24 24" 
                    stroke="currentColor"
                  >
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                  </svg>
                  <span>
                    Ervaring
                  </span>
                </a>
              </router-link>
              
              <router-link 
                :to="{name:'Projects'}"
                v-slot="{isActive}"
              >
                <a 
                  href="#" 
                  class="group flex items-center px-2 py-2 text-sm leading-5 font-medium rounded-md transition ease-in-out duration-150"
                  :class="[isActive ? 'text-white bg-gray-900 focus:outline-none focus:bg-gray-700' : 'text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700']"
                >
                  <svg 
                    class="mr-3 h-6 w-6 transition ease-in-out duration-150" 
                    :class="[isActive ? 'text-gray-300 group-hover:text-gray-300 group-focus:text-gray-300' : 'text-gray-400 group-hover:text-gray-300 group-focus:text-gray-300']"
                    fill="none" 
                    viewBox="0 0 24 24" 
                    stroke="currentColor"
                  >
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                  </svg>
                  <span>
                    Projecten
                  </span>
                </a>
              </router-link>

            </nav>
          </div>
          <div class="flex-shrink-0 flex bg-white p-4">
            <a href="https://be.linkedin.com/in/bartmonbaliu" target="_blank" class="flex-shrink-0 w-full group block">
              <div class="flex items-center">
                <div>
                  <svg 
                    class="inline-block h-9 w-9" 
                    viewBox="0 0 76.624 65.326" 
                    fill="#0a66c2"
                  >
                    <path 
                      data-name="Path 2520" 
                      d="M55.204 55.204h-9.6V40.17c0-3.585-.064-8.2-4.993-8.2-5 0-5.765 3.906-5.765 7.939v15.294h-9.6V24.287h9.216v4.225h.129a10.1 10.1 0 019.093-4.994c9.73 0 11.524 6.4 11.524 14.726zm-40.79-35.143a5.571 5.571 0 115.57-5.572 5.571 5.571 0 01-5.57 5.572m4.8 35.143h-9.61V24.287h9.61zM59.99.004H4.78a4.728 4.728 0 00-4.781 4.67v55.439a4.731 4.731 0 004.781 4.675h55.21a4.741 4.741 0 004.8-4.675V4.67A4.738 4.738 0 0059.99 0"
                    />
                  </svg>
                  <!-- <img class="inline-block h-9 w-9 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt=""> -->
                </div>
                <div class="ml-3">
                  <p class="text-sm leading-5 font-medium text-gray-900">
                    Bart Monbaliu
                  </p>
                  <p class="text-xs leading-4 font-medium text-gray-400 group-hover:text-gray-600 transition ease-in-out duration-150">
                    LinkedIn profiel
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
        
      </div>
    </div>

    <div 
      :class="menuIsOpen ? 'z-0' : 'z-50'"
      class="flex flex-col w-0 flex-1 overflow-hidden"
    >
      <div class="md:hidden pl-1 pt-1 sm:pl-3 sm:pt-3">

        <div class="flex flex-row">
          
          <button 
            @click.prevent="openMenu()"
            class="-ml-0.5 -mt-0.5 h-12 w-12 inline-flex items-center justify-center rounded-md text-gray-500 hover:text-gray-900 focus:outline-none focus:bg-gray-200 transition ease-in-out duration-150" 
            aria-label="Open sidebar"
          >
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button>
          
          <div class="flex items-center justify-between w-full pl-2 pr-4">
            
            <h3 class="text-base leading-6 font-medium text-gray-900">
              Bart Monbaliu
            </h3>
            <p class="text-xs leading-5 text-gray-500 truncate">
              Curriculum Vitae
            </p>
            
          </div>

        </div>

      </div>
      <main class="flex-1 relative z-0 overflow-y-auto focus:outline-none" tabindex="0">
        <div class="pt-2 pb-6 md:py-6">

          
          <div class="hidden md:block max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">

            <div class="flex items-center justify-between">
              <div class="flex-1 min-w-0">
                <div class="pb-5 border-b border-gray-200">
                  <div class="-ml-2 -mt-2 flex flex-wrap items-baseline">
                    <h3 class="ml-2 mt-2 text-lg leading-6 font-medium text-gray-900">
                      Bart Monbaliu
                    </h3>
                    <p class="ml-2 mt-1 text-sm leading-5 text-gray-500 truncate">
                      Curriculum Vitae
                    </p>
                  </div>
                </div>
              </div>
              <div class="flex -mt-6 ml-4">
                <span class="ml-3 shadow-sm rounded-md">
                  <a 
                    href="https://be.linkedin.com/in/bartmonbaliu" 
                    target="_blank"
                    class="inline-flex items-center px-4 py-2 transition duration-150 ease-in-out"
                  >
                    <svg 
                      class="h-6 w-6 transition ease-in-out duration-150" 
                      viewBox="0 0 76.624 65.326" 
                      fill="#0a66c2"
                    >
                      <path 
                        data-name="Path 2520" 
                        d="M55.204 55.204h-9.6V40.17c0-3.585-.064-8.2-4.993-8.2-5 0-5.765 3.906-5.765 7.939v15.294h-9.6V24.287h9.216v4.225h.129a10.1 10.1 0 019.093-4.994c9.73 0 11.524 6.4 11.524 14.726zm-40.79-35.143a5.571 5.571 0 115.57-5.572 5.571 5.571 0 01-5.57 5.572m4.8 35.143h-9.61V24.287h9.61zM59.99.004H4.78a4.728 4.728 0 00-4.781 4.67v55.439a4.731 4.731 0 004.781 4.675h55.21a4.741 4.741 0 004.8-4.675V4.67A4.738 4.738 0 0059.99 0"
                      />
                    </svg>
                  </a>
                </span>
              </div>
            </div>

          </div>

          <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">


            <!-- Replace with your content -->
            
            <div class="py-4">


              <router-view v-slot="{ Component }">
                <transition name="fade">
                  <component :is="Component" />
                </transition>
              </router-view>



              
            </div>

            <!-- /End replace -->


          </div>
        </div>
      </main>
    </div>
    
  </div>

</template>

<script>
import { ref, computed, watch } from 'vue';

export default {
  setup() {
    let menuIsOpen = ref(false);
    const openMenu = () => menuIsOpen.value = true;
    const closeMenu = () => menuIsOpen.value = false;
    const toggleMenu = () => menuIsOpen.value = !menuIsOpen;
    // const overlayIsOpen = computed(() => menuIsOpen.value);
    // const sidebarIsOpen = computed(() => menuIsOpen.value);

    // watch(() => {
    //   '$route' (to, from) {
    //     console.log(to);
    //     console.log(from);
    //   }
    // })

    return {
      menuIsOpen,
      openMenu,
      closeMenu,
      toggleMenu,
      // overlayIsOpen,
      // sidebarIsOpen,
    };
  },
}
</script>

<style scoped>
  

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s ease, transform .3s ease;
}

.fade-enter-from {
  opacity: 0;
  transform: translate3d(0, 100%, 0);
}
.fade-leave-to {
  opacity: 0;
  transform: translate3d(0, 0, 0);
}

/* .slither-enter-active, .slither-leave-active {
  transition: transform 1s;
}

.slither-enter, .slither-leave-to {
  transform: translateX(-100%);
}

.slither-enter-to, .slither-leave {
  transform: translateX(0);
} */

</style>